
<!----------------------- Footer -------------------------->
<footer>
  <div class="ft_div1">
      <div class="div1">
          <img src="/img/n.png" alt="">
          <p>
              To those who are serious about studying technical and traditional martial arts please contact us in confidence to enquire about joining our school.
          </p>
      </div>
      <div class="div2">
          <div class="d1">
              <h3>About us</h3>
              <a href=""> History</a>
              <a href="">Founder</a>
              <a href=""> History</a>
              <a href="">Founder</a>
              <a href=""> History</a>
              <a href="">Founder</a>
          </div>
          <div class="d2">
              <h3>Quick Links</h3>
              <a href=""> Global Courses</a>
              <a href="">
                  Events
              </a>
              <a href=""> Products</a>
              <a href="">Gallery</a>
              <a href=""> Blog</a>
              <a href="">Contact Us</a>
          </div>
          <div class="d3">
              <h3>
                  Get In Touch
              </h3>
              <p>
                  IUKMF HQs M-6, Saket, New Delhi, Delhi 110017, India
              </p>       
              <div id="ft_social_icon_div">
                  <a href="http://">
                      <img src="/icon/facebook.png" alt="">
                  </a>  
                  <a href="http://">
                      <img src="/icon/twitter.png" alt="" >
                  </a>
                  <a href="http://">
                      <img src="/icon/youtube.png" alt="">
                  </a>
                  <a href="http://">
                     <img src="/icon/instragram.png" alt="">
                  </a>
                
                  <a href="http://">
                      <img src="/icon/linkedin.png" alt="">
                  </a>
                    

              </div>
          </div>
      </div>
    
  </div>
  <hr>
  <div class="ft_div2">
    <h5>
        All &copy; Copyright's are reserved at Goju Shin Ryu 
    </h5>
    <div>
         <a href="">
          Terms & Conditions
         </a> |
         <a href="">
          Privacy policy
         </a> |
         <a href="">
          Cookie policy
         </a>
    </div>
  </div>
  

</footer>
