    <!-------------------- Header ------------------------------->
    <header>
      <div id="top-bar">
      

      </div>
      <div id="header">
     <div class="hd-icon-div">
      <img class="hd-icon" src="" alt="logo">
     </div>
     <nav class="header-nav-div">
      <div class="nv-div"><a href="/">Home</a></div>
      <div class="nv-div"><a href="/course"> Courses</a></div>
      <div id="about-us-header-nav-div-link-anchor-div" class="nv-div"><a>About Us</a></div>
      <div class="nv-div"><a href="/Membership-application">Membership</a></div>
      <div class="nv-div"><a href="">Blog</a></div>
     </nav>
     <div class="hd-btn-div">
      <button>Contact Us</button>
     </div>

     <div class="m_nav_i">
      <i class="fa-solid fa-align-right"></i>
     </div>
     <div class="m_nav">
      <a href="">hOME</a> 
    <a href="">About us</a>
 <a href="">Contact us</a> 

    <a href="">Blog</a>

     </div>
  </div>
  <nav id="about_us_dropdown">
      <a href="/about-us/goju-shin-ryo">Traditional School of Martial Arts</a>
      <hr>
      <a href="/about-us/school-of-tradistional-martial-arts">Goju Shin Ryu</a>
  </nav>
   </header>
