  <!----------------- loader-------------------->
    <div id="Loader">
        {{!-- <img id="main_logo" src="/icon/loader1.png" alt="logo of Goju Shin Ryu"> --}}
        <video 
        loader_video 
        autoplay 
        muted 
        plays-inline 
        src="https://res.cloudinary.com/dmuf5ducu/video/upload/v1729863436/YouCut_20241025_191914917_obhbhm.mp4"        >
        </video>

    </div>
    <script src="/js/loader.js"></script>
