/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
InshaAllah, By Allah's Will,  I will earn success
*/


.settings-section{
  width:100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  padding:30px 15px 30px 15px  ;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  row-gap:20px
}

.settings-section > h2 {
  font-size: 20px;
  line-height: 0px;
}

.settings-section > .img-inp-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 13px;
  width: 100%;
  padding: 7px 0px;
}
.settings-section  >.img-inp-box > label {
  background: #000;
  width: 100px ;
  height: 100px;
  border-radius :50%;
  background-size: cover;
  background-repeat: none;
  background-position: top center;
}

.settings-section > .s-sec-input-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  row-gap: 6px;
}


.settings-section > .s-sec-input-box > input {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  height: 30px;
  width: 100%;
  outline: none;
}


.settings-section >.s-sec-input-box > label {
  font-weight: 500;
  font-size :14px;
}



@media screen and (min-width :700px) {
  .s-sec-input-box{
    flex-direction: row;
    justify-content: flex-start;
  align-items: center;
  }
  .s-sec-input-box label {
    width: 100%;
    text-align: left;
  }
  .s-sec-input-box > input {
    width: 66%;
  }
}


.s-sec-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 10px
}
.s-sec-btn-box > button{
  width :70px;
  height: 35px;
  background: #fff;
  color: var(--main-cl);
  border: 2px solid var(--main-cl);
  font-weight: 500;
}
.s-sec-btn-box > button:nth-child(2) {
  background: var(--main-cl);
  color: #fff;
  
  
}
@media screen  and (min-width) {
  .settings-section > h2 {
  font-size: 24px;
  }
  .settings-section{
  row-gap: 10px;
  }
  .s-sec-btn-box>button {
  width: 70px;
  height: 35px;
  }
}