/*  بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  */ 



.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}


.txt_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 0.6em;
}

.img{
  width: 22em;
}


.anchor{
  color: blue;
}








