/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   Insha Allah
By Allah Narcy,  I will gain Success
*/ 
/* 
a{
  text-decoration: none;
  color: #000;
} */
*{
  box-sizing: border-box;
  margin: 0px ;
  padding:0px;
}

section{
  background: whitesmoke;
  height: 100vh;
  display:grid; 
align-items: start;
}


.tree {
  width: 100%;
  height: auto;
  text-align: center;
}

.tree ul{
  padding-top:20px ;
  position: relative;
  transition :.5s;
}



 .tree ul ul:before{ 
  content :"";
  position: absolute;
  top: 0px;
  left: 50%;
  border-left: 1px solid #ccc;
  width:0px ;
  height:20px ;
}  


.tree li {
  padding: 10px;
  display: inline-table;
   /* display: flex;
   flex-direction: row;  */
  position: relative;
  text-align: center;
  list-style: none;
}

.tree li:after {
  content: "";
  position: absolute;
  top:0px;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;

}
.tree li:before{
  content: "";
  position: absolute;
  top:0px;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;
}


.tree li:after {
  right:auto ;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child:after, .tree li:only-child:before{
   display: none; 
}

.tree li:only-child {
  padding-top:0px ;
}


.tree li:first-child:before, .tree li:last-child:after
{
  padding: 0px none;
}

.tree li:last-child:before{
  border-right: 1px solid #ccc;
  border-radius :0px 5px 0px 0px;
}

.tree li:first-child:after{
  border-radius :5px 0px 0px 0px;
}


.tree a 
{
  border: 1px solid #ccc;
  padding: 10px;
  display:inline-grid;
  border-radius: 5px;
  border-radius :5px;
  transition: 0.5s;
  text-decoration-line: none;
}


.tree a img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius:50%;
  margin: auto;
  object-fit: contain;
}

.tree a span {
  border : 1px solid #ccc;
  border-radius :5px;
  color: #666;
  padding: 7px;
  font-size: 12px;
}
