/* بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   */
/*
Insha Allah,  BY Allahs Marcy,  I will Gain success
*/ 
*{
    box-sizing: border-box;
}
:root{
    --color--of--line:rgba(218, 165, 32, 0.5);
}
#banner{
    min-height: 16em ;
    background: url('/img/samurai4.jpg');
    background-position: bottom left;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(to right,
     rgba(0, 0, 0, 0.474) ,
     rgba(0, 0, 0, 0.712),
    rgba(0, 0, 0, 0.5));
    padding-top: 87px;
    box-sizing: content-box;
}
#banner > h1 {
    font-size: 2.5em;
    color: #fff;
    position: relative;
    top: -1em;
}
#banner > h2 {
    color: #fff;
    font-size: 1.4em;
    position: relative;
    top: -1.5em;
    opacity:.85;
}
#alliance-chart{
    padding: 3em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#alliance-chart > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343.5px;
    height: fit-content;
}
#alliance-chart > div> div{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-between;
    height: 400px;
}
/*-------------------------------------- container 1 ------------------------------------------*/
#alliance-chart > div:nth-child(1){
    justify-content: center;
}
#alliance-chart > div:nth-child(1)> div{
    /* justify-content: left; */
    align-items: center;
}
#alliance-chart > div:nth-child(1)> div:after{
    content: "";
    height: 100%;
    width: 0px;
    border: none;
    border-right: 2.4px solid var(--color--of--line);
}
#alliance-chart > div:nth-child(1)> div:first-child:after{
    right: 0px;
}
#alliance-chart > div:nth-child(1)> div:last-child:after{ 
    height: 50%;
    width: 125px;
    border-bottom: 2.4px solid var(--color--of--line);
    position: relative;
    top: -50%;
}
#alliance-chart > div:nth-child(1)> div:last-child{
    height: 375px;
    align-items: end;
}
#alliance-chart > div:nth-child(1)> div:last-child:after{
    right: 0px;
}
#alliance-chart > div:nth-child(1)> div:first-child{
    height: 375px;
    align-items: start;
}
#alliance-chart > div:nth-child(1)> div:first-child:after{
    height: 104%;
    width: 125px;
    border-top: 2.4px solid var(--color--of--line);
    position: relative;
    bottom: -50%;
}
#alliance-chart > div:nth-child(1)> div:nth-child(2):after{
    width:120px;
    border-top: 2.3px solid var(--color--of--line);
    position: relative;
    bottom: -50%;
    height: 100%;
}
#alliance-chart > div:nth-child(1)> div:nth-child(3):after{
    height: 50%;
    width:120px;
   position: relative;
    bottom: -25%;
    border-top: 2.4px solid var(--color--of--line);
    
}
/*-------------------------------------------------- container 2 ----------------------------------------------*/
#alliance-chart > div:nth-child(2){
    justify-content: center;
    width: 437px;
}
#alliance-chart > div:nth-child(2)> div::before , #alliance-chart > div:nth-child(2)> div::after{
    content: "";
    width: 93.8px;
    height: 0%;
    border-top: 2.4px solid var(--color--of--line);

}
#alliance-chart > div:nth-child(2)> div:first-child{
    /* justify-content: center; */
    align-items: center;
}
/*------------------------------------------------- container 3 ------------------------------------------------*/
#alliance-chart > div:nth-child(3){
    justify-content:center;
}
#alliance-chart > div:nth-child(3)> div:before{
    content: "";
    height: 100%;
    width: 0px;
    border: none;
    border-left: 2.4px solid var(--color--of--line);
    position: relative;
}
#alliance-chart > div:nth-child(3)> div:after {
/* #alliance-chart > div:nth-child(1)> div:before  */
    display: none;
 }
#alliance-chart > div:nth-child(3)> div{
    /* justify-content: right; */
    align-items: center;
}
#alliance-chart > div:nth-child(3)> div:last-child{
    height: 375px;
    align-items: end;
}
#alliance-chart > div:nth-child(3)> div:last-child:before{
    height: 50%;
    width: 125px;
    border-bottom: 2.4px solid var(--color--of--line);
    position: relative;
    top: -50%;
}
#alliance-chart > div:nth-child(3)> div:last-child:before{
    left: 0px;
}
#alliance-chart > div:nth-child(3)> div:first-child{
    height: 375px;
    align-items: start;
}
#alliance-chart > div:nth-child(3)> div:first-child:before{
    height: 103%;
    width: 125px;
    border-top: 2.4px solid var(--color--of--line);
    position: relative;
    bottom: -50%;
}
#alliance-chart > div:nth-child(3)> div:first-child:before{
    left: 0px;
}
#alliance-chart > div:nth-child(3)> div:nth-child(2) {
    align-items: center;
}
#alliance-chart > div:nth-child(3)> div:nth-child(2):before{
    height:50%;
    border-top: 2.4px solid var(--color--of--line);
    width: 125px;
    position: relative;
    bottom: -25%;
}
.ali_box{
    width: 250px;
    background: white;
    color: black;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
    padding: 10px 13px 15px 13px;
}
.ali_box > img:first-child{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top center;
}
.ali_box > img:nth-child(2){
    width: 70px;
    height: 70px;
    
    border-radius: 50%;
    position: relative;
    top: -50px;
    z-index: 20;
    object-fit: contain;
    object-position: top center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.503);
 /*   left: 25%; */
}
.ali_box >h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-top: -40px;
    background-color: transparent;
}
.ali_box>span{
    text-align: center;
    text-transform: uppercase;

    font-size:15px;
    font-weight: 500;
    color: var(--main-cl);

}
.ali_box::before ,.ali_box::after{
    display:none;
}