/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
Insha Allah,  By His Marcy I will Gain Success 
*/


*{
    box-sizing: border-box;
}


#banner{
    min-height: 20em ;
    background: url('/img/samurai4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(to right,
     rgba(0, 0, 0, 0.474) ,
     rgba(0, 0, 0, 0.712),
    rgba(0, 0, 0, 0.5));
    box-sizing: content-box;
    position: relative;;
  }


#banner > h1 {
    font-size: 28px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}


i{
    cursor: pointer;
}

#events_sec{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    padding:3em;
    
}
.event {
    width: 28em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 2em;
    background: #ffffff5b;
    border-radius:10px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
   z-index: 100; 
   filter: none;
height: 459px;
}
.event > img {
    width: 100%;
    margin-bottom: 1em;
    height: 14em;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
}
.event >.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.event >hr {
    width: 100%;
    background-color: black;
    height: 1.6px;
    border: none;
    margin: .4em 0px .9em 0em;
}
.event >.div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.event >.div1 > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
.event >.div1 > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: end;
    column-gap: .4em;
}
.event >.div1 > div:nth-child(1) > h2 {
    font-size: 1.35em;
    color:  black;
    font-weight: 600;
} 
.event >.div1 > div:nth-child(1) > span {
    font-weight: 500;
    color:  var(--main-cl);
    margin-top: 4px;
}

.event >.div1 > div:nth-child(1) > span::before{
    content: 'In';
    color:  black;
}
.event >.div1 > div:nth-child(2) > b {
    font-size: 1.6em;
    color:  var(--main-cl);
    font-weight: 500;
}
.event >.div1 > div:nth-child(2) > span {
    font-size: .8em;
    font-weight: 500;
    color:black;

}
.event >.div2 > span {
    font-size: .95em;
    font-weight: 500;
    color: var(--main-cl);
}

.event >.div2 > span:nth-child(1)::after {
    content: 'Countries';
    color:  black;
}

.event >.div2 > span:nth-child(2)::after {
    content: 'Athletes';
    color:  black;
}

.event p {
    color :rgb(51, 51, 51);
    font-size: 14px;
    margin-top: .4em;
}

@media screen and (max-width:650px) {
    .event{
        width: 433px;
    }
}