/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
InshaAllah, By his Marcy I will Gain Success 
*/ 
*{
  margin:0px;
  padding: 0px;
}
body{
background: whitesmoke;
}
.form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  row-gap: 8px;
}
.form-sec > h1 {
  color: black;
}
.form-sec > h2{
  color: #4E4E4E;
  font-size:.95em;
}
.form-sec > form {
  width: 29em;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  row-gap: 12px;
  padding: 1.4em 0px;
  border-radius :8px;
  box-shadow: 0px 0px 10px rgba(23, 23, 23, 0.06);
  margin-top:.4em;
}
.form-sec > form >.input-box{
  width: 93%;
  display :flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 10px;
  padding: 6px 8px;
}
.form-sec > form >.input-box > input{
  width: 97%;
  border: none;
  outline: none;
  background: #eceae3;
  height: 35px;
  border-radius :5px;
  padding: 0px 5px;
}
.form-sec > form > .input-box > label{
  color: #000;
  font-size: 18px;
  text-transform:capitalize;
}
.form-sec > form >.check-box-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 92%;
  column-gap: 7px;
}
.form-sec > form >.check-box-div > label {
  text-transform:  capitalize;
  font-weight: 500;
  color: #000000BA;
}
.form-sec > form > .action-box {
  width:93%;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.form-sec > form > .action-box > a {
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  color: #A69E74;
}
.form-sec > form > .action-box > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
  row-gap: 10px;
}
.form-sec > form > .action-box > div > button:nth-child(1){
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #DCA11A;
  background: #DCA11A;
  color: #fff;
  width: 100%;
  height: 45px;
  font-weight: 500;
  font-size: 20px;
  border-radius :6px;
}
.form-sec > form > .action-box div > button:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #DCA11A;
  background: #fff;
  color: #DCA11A;
  width: 100%;
  height: 45px;
  font-weight: 500;
  font-size: 17px;
  border-radius :6px;
}