/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
InshaAllah, By his Marcy I will Gain Success 
*/ 
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  row-gap: 8px;
}

.form-sec > h1 {
  color: black;
  font-size: 1.75rem;
  text-align: center;
}

.form-sec > h2 {
  color: #4E4E4E;
  font-size: 0.95rem;
  text-align: center;
}

.form-sec > form {
  width: 100%;
  max-width: 575px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding: 1em 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(23, 23, 23, 0.06);
  margin-top: 0.4em;
}

.form-sec > form > .input-box {
  width: 93%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 6px 8px;
}

.form-sec > form > .input-box > input {
  width: 100%;
  border: none;
  outline: none;
  background: #eceae3;
  height: 45px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
}

.form-sec > form > .input-box > label {
  color: #000;
  font-size: 1rem;
  text-transform: capitalize;
}

.form-sec > form > .check-box-div {
  display: flex;
  align-items: center;
  width: 92%;
  column-gap: 7px;
}

.form-sec > form > .check-box-div > label {
  font-size: 0.9rem;
  color: #000000BA;
}

.form-sec > form > .action-box {
  width: 93%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.form-sec > form > .action-box > a {
  font-size: 0.9rem;
  color: #A69E74;
}

.form-sec > form > .action-box > div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.form-sec > form > .action-box > div > button {
  height: 50px;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-sec > form > .action-box > div > button:nth-child(1) {
  background: #DCA11A;
  color: #fff;
  border: 2px solid #DCA11A;
  font-size: 1.1rem;
}

.form-sec > form > .action-box > div > button:nth-child(2) {
  background: #fff;
  color: #DCA11A;
  border: 2px solid #DCA11A;
  font-size: 1rem;
}

/* Media Queries */
@media (min-width: 480px) {
  .form-sec > h1 {
    font-size: 2rem;
  }
  
  .form-sec > h2 {
    font-size: 1.1rem;
  }
  
  .form-sec > form {
    padding: 1.4em 0;
  }
  
  .form-sec > form > .input-box > input {
    height: 40px;
  }
  
  .form-sec > form > .action-box > div > button {
    height: 45px;
  }
}

@media (min-width: 768px) {
  .form-sec > form > .input-box > label {
    font-size: 1.125rem;
  }
  
  .form-sec > form > .check-box-div > label {
    font-size: 1rem;
  }
  
  .form-sec > form > .action-box > a {
    font-size: 1rem;
  }
  
  .form-sec > form > .action-box > div > button:nth-child(1) {
    font-size: 1.25rem;
  }
  
  .form-sec > form > .action-box > div > button:nth-child(2) {
    font-size: 1.0625rem;
  }
}

@media (min-width: 1024px) {
  .form-sec {
    padding: 3em 1em;
  }
  
  .form-sec > h1 {
    font-size: 2.5rem;
  }
  
  .form-sec > h2 {
    font-size: 1.25rem;
  }
}