/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
InshaAllah, By his Marcy I will Gain Success 
*/

#banner{
    height: 90vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: url('/img/samurai4.jpg');
     background-position: bottom left;
     background-size: cover;
     background-repeat:no-repeat;
     border-image-slice: fill 1;
     border-image-source: linear-gradient(to right,
      rgba(0, 0, 0, 0.474) ,
      rgba(0, 0, 0, 0.712),
     rgba(0, 0, 0, 0.5));
     color: white;
     row-gap: 12px;
     padding-top: 80px;
     text-align: center;
     box-sizing: content-box;
   
   }
   #banner h1{
     font-size: 27px;
     text-transform: uppercase;
     word-spacing:4.5px;
   }
   #banner p {
     font-size: 15px;
     color: #fff;
     width: 500px;
     word-spacing: 3px;
     text-wrap: wrap;
   }
   @media screen and (max-width: 510px) {
     #banner p {
       width: 400px;
     }
   }
   #banner button {
     background: var(--main-cl);
     color: #000000;
     font-style: 15px;
     word-spacing: 3px;
     padding: 14px 20px;
     border:none ;
     text-transform: uppercase;
     font-weight: 600;
   }
   

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.4em 0px;
    column-gap: 55px;
    row-gap: 45px; 
    box-sizing: border-box;
}
.testimonials > .testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    width: 440px;
    background: white;
    border: 10px;
    row-gap: 7px;
    box-sizing: border-box;
    height: 420px;
    box-shadow: 0px 0px 10px #00000040;
}
.testimonials > .testimonial > div{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
.testimonials > .testimonial > .div1 {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 15px;
    box-sizing: border-box;
    width: 100%;
}
.testimonials > .testimonial > .div1 >img{
    width: 60px;
    box-sizing: border-box;
    height: 60px;
    border-radius: 50%;
}
.testimonials > .testimonial > .div1 >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 5px;
    position: relative;
    max-height: fit-content;
    /* height: 55px; */
    min-width: 140px;
    box-sizing: border-box;
    /* margin-bottom: 15px;  */
}
.testimonials > .testimonial > .div1 >div>strong {
    font-size: 17px;
    font-weight: 600;
    box-sizing: border-box;
    text-wrap: nowrap;
    line-height: 18px;
}
.testimonials > .testimonial > .div1 >div>span {
    /* color: #FF6F3C; */
    font-size: 13px;
    box-sizing: border-box;
    font-weight: 500;
    opacity: .76;
}
.testimonials > .testimonial > .div1 >div>hr {
    /* background-color: #FF6F3C; */
    height: 2px;
    width: 50px;
    box-sizing: border-box;
    border: none;
}
.testimonials > .testimonial > .div2{
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px 0px;
}
.testimonials > .testimonial > .div2>p{
    text-align: justify;
    padding: 0px 0px;
    box-sizing: border-box;
    line-height: 1.6;
}
.testimonials > .testimonial > .div2>i{
    color: #FF6F3C;
    box-sizing: border-box;
    font-size: 27px;
}
.testimonials > .testimonial > .div2>i:first-child{
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}
.testimonials > .testimonial > .div2>i:last-child{
    position: absolute;
    right: 0px;
    box-sizing: border-box;
    bottom: 0%;
}

.skeleliton_testimonial_image{
    background-color: var(--sceliton-color);
    color: var(--sceliton-color);
    animation-name:skeleliton_testimonial_image_animation ;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
    height: 60px;
    width: 60px;

}

.skeleliton_testimonial_txt{
    height: 200px;
    background: var(--sceliton-color);
    animation-name:skeleliton_testimonial_image_animation ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
    width: 100%;
    color: var(--sceliton-color);
}

.skeleliton_testimonial_name{

    background: var(--sceliton-color);
    animation-name:skeleliton_testimonial_image_animation ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
    color: var(--sceliton-color);
}

.skeleliton_testimonial_hr {
    background: var(--sceliton-color);
    animation-name:skeleliton_testimonial_image_animation ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
}
@keyframes skeleliton_testimonial_image_animation {
    0%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
} 