/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
InshaAllah, By his marcy I will Gain Success 
*/




    body {
        margin:0;
    }
  


    #Hero_section {
        text-align: center;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }

    #wrapper_video:before {
        content:"";
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        z-index:1;
        background:linear-gradient(to right,rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.5));
        /* width: 100px;
        height: 100px; */
    }


    #wrapper_video {
         left: 0%;
         top: 0%;
         height: 100vh;
         width: 100%;
         overflow: hidden;
         position: absolute;
         z-index: -1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }

   


    #hero_content {
        position: absolute;
    }
    #hvideo{
        width: 100vw;
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        object-fit: cover;
        object-position: top center;
        height: 100%;
    }

    #hero_content  {
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
row-gap: 0.5em;
}


#hero_content > i {
    color:white ;
    opacity: .86;
    font-size: 1.7em;
    z-index: 20;
}
#hero_content > h1 {
margin-top: 1em;
color: rgb(255, 255, 255);
font-size:3.1vw ;
font-weight: var(--first-fw);
z-index: 200;
text-align: center;
text-decoration: none;
text-transform: uppercase;
word-spacing: 4px;
font-weight: 500;
}

#hero_content > b {
font-size:1.7vw;
color: rgb(255, 255, 255);
z-index: 100;
opacity: .93;
margin-top: 1vh;
text-transform: uppercase;
font-weight: 600;
}

#hero_content > h3 {
    font-size: .85em;
    color: rgb(255, 255, 255);
    z-index: 100;
    margin-top: 0em;
    opacity: .87;
    text-transform: uppercase;
    font-weight: 600;
    }
    
#hero_content >  button {
padding: 1vw 2vw;
background:var(--main-cl) ;
border:none;
color: white;
font-weight: 600;
font-size: 1em;
border-radius: 3.5px;
margin-top: 1em;
z-index:100;
}
    
@media screen and (max-width:900px) {
    #hero_content > h1 {
        font-size: 26px;
        
    }
    #hero_content > b{
        font-size: 20px;
    }
    #hero_content >  button {
        padding: 9.5px 16px;
        font-size: 15px;
    }
}
@media screen and (max-width:650px) {

}







