/* بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   */
/*
Insha Allah,  BY Allahs Marcy,  I will Gain success
*/


body{
  background: whitesmoke;
}

#main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: auto;
  max-height:fit-content;
}

#main_content > article {
  width: 66em;
  background: white;
  /* height:70em ;  */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -15.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
  padding-bottom: 2.5em;
  padding-top: 2em;
  row-gap: 2em;
  box-sizing: border-box;
}
@media screen and (min-width :500px) and (max-width :900px) {
  #main_content article {
    width: 90vw;
  }
}


#main_content > article >.v-div {
  width: 95%;
  /* padding-top: 1.5em; */
}

@media screen and (min-width :500px) and (max-width :900px) {
  #main_content > article >.v-div {
    padding: .5px;
  }
}
#main_content > article >.v-div > video {
  width: 100%;
  min-height: 30em;
  height: auto;
  border: none;
  max-height: 35em;
  object-fit: cover;
  object-position: top center;
}

@media screen and (min-width :500px) and (max-width :900px) {
  #main_content > article >.v-div >video{
    padding: .5px;
    max-height:440px ;
    min-height: 200px;
  }
}

#main_content > article >.info {
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: start;
  column-gap: 2em;
  row-gap: 2em;
  max-height: fit-content;
  flex-wrap: wrap;
}

@media screen and (min-width :1100px) {
  #main_content > article >.info {
    flex-wrap: nowrap;
  }
}

#main_content > article > .info  > div:nth-child(1) {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  row-gap: .5em;
}
@media screen and (min-width :500px) and (max-width :900px) {
  #main_content > article > .info  > div:nth-child(1) {
    width: 90%;
  }
}

#main_content > article > .info  > div:nth-child(1) > h2{
font-size: 2em;
line-height: 20px;
margin-bottom: .5em;
}
#main_content > article > .info  > div:nth-child(1) > p{
  font-size: 1.2em;
  text-align: justify;
}

#main_content > article > .info  > div:nth-child(1) > .btn-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
  margin-top: 1em;
}

#main_content > article > .info  > div:nth-child(1) > .btn-box > button:nth-child(1){
  width: 11.5em;
  height: 3.1em;
  border: 2px solid  var(   --main-cl);
  color: white;
  /* font-family: "Roboto Slab"; */
  background-color: var(   --main-cl);
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 500;
  line-height: 0px;
  font-size: .95em;
}

#main_content > article > .info  > div:nth-child(1) > .btn-box > button:nth-child(2){
  width: 11.5em;
  height: 3.1em;
  border: 2px solid var(--main-cl);
  color: var(--main-cl);
  /* font-family: "Roboto Slab"; */
  background-color: white;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 500;
  line-height: 0px;
  font-size: .95em;
}


#main_content > article > .info  > div:nth-child(2) {
  width: 50%;
}

@media screen and (min-width :500px) and (max-width :900px) {
  #main_content > article > .info  > div:nth-child(2) {
    width: 90%;
  }
}

#main_content > article > .info  > div:nth-child(2) > img {
  width: 100%;
  object-fit: cover;
  position: center center;
}