/* بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   */
/*
Insha Allah,  BY Allahs Marcy,  I will Gain success
*/ 



#banner{
  height: 35em ;
  background: url('/img/samurai4.jpg');
  background-position: bottom left;
  background-size: cover;
  background-repeat:no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-image-slice: fill 1;
  border-image-source: linear-gradient(to right,
   rgba(0, 0, 0, 0.474) ,
   rgba(0, 0, 0, 0.712),
  rgba(0, 0, 0, 0.5));
}
#banner > h1 {
  font-size: 2.5em;
  color: #fff;
  position: relative;
  top: -1em;
}
#banner > h2 {
  color: #fff;
  font-size: 1.4em;
  position: relative;
  top: -1.5em;
  opacity:.85;
}







