/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
InshaAllah, By Allah's Will,  I will earn success
*/


.form-section{
    width:100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
    padding:30px 15px 30px 15px  ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    row-gap:30px;
  }
  
  .form-section > h2 {
    font-size: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height:24px;
  }
  
  .form-section > .img-inp-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 14px;
    width: 100%;
    padding: 7px 0px;
  }
  .form-section  >.img-inp-box > label {
    background: #000;
    width: 100px ;
    height: 100px;
    border-radius :50%;
  }
  .form-section  >.s-sec-input-box> label::after{
    content: "*";
    color: var(--main-cl);
    display: inline;
    font-weight: 600;
  }
  .form-section > .s-sec-input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  
  .form-section > .s-sec-input-box > input {
    background: rgba(0, 0, 0, 0.08);
    border: none;
    height: 34px;
    width: 66%;
    outline: none;

  }
  
  .form-section >.s-sec-input-box > label {
    font-weight: 500;
    font-size :16.5px;
  }
  
  .s-sec-btn-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 10px
  }
  .s-sec-btn-box > button{
    width :70px;
    height: 35px;
    background: #fff;
    color: var(--main-cl);
    border: 2px solid var(--main-cl);
    font-weight: 500;
  
  }
  .s-sec-btn-box > button:nth-child(2) {
    background: var(--main-cl);
    color: #fff;
    
    
  }
 