




@media screen and (min-width :200px ) and (max-width :630px){
/*-------------------- Heading Section -------------------------*/

footer {
    background: #b9b9b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;
}

footer > .ft_div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


footer > .ft_div1 > .div1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;
    row-gap: 17px;
}


footer > .ft_div1 > .div1 > img {
    width: 5em;
    border-radius: 50%;
}

footer > .ft_div1 > .div1 > p {
   font-size: 14px;
   font-weight: 500;
   color: gray;
}

footer > .ft_div1 > .div2 {
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}


footer > .ft_div1 > .div2 >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1em;
    width: 100%;

}
footer > .ft_div1 > .div2 >div > h3{
    color: rgb(0, 0, 0);
}    

footer > .ft_div1 > .div2 >div > a {
    color: gray;
    text-decoration: none;
    font-weight: 500;
}

footer > .ft_div1 > .div2 >div > p {
    color: gray;
    text-decoration: none;
    font-weight: 500;
}


footer > .ft_div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0em;
    width: 100%;
}




#ft_social_icon_div{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-template-rows: repeat(2,0fr);
    column-gap: 1em;
    row-gap: 1em;
}

#ft_social_icon_div > a {
    color: rgba(255, 255, 255, 0.918);
    text-decoration: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background:var(--ft-main-cl);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#ft_social_icon_div > a  > i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    height: 100%;

}
}
  
    
@media screen and (min-width :631px ) and (max-width :1000px){
    
/*-------------------- Heading Section -------------------------*/

footer {
    background: #b9b9b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
}

footer > .ft_div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}


footer > .ft_div1 > .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    row-gap: 17px;
}


footer > .ft_div1 > .div1 > img {
    width: 5em;
    border-radius: 50%;
}

footer > .ft_div1 > .div1 > p {
   font-size: 14px;
   font-weight: 500;
   color: var(--df-b-color);
}

footer > .ft_div1 > .div2 {
    width:87%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > .ft_div1 > .div2 >div {
width: 33%;
}


footer > .ft_div1 > .div2 >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 8px;
}
footer > .ft_div1 > .div2 >div > h3{
    color: rgba(255, 255, 255, 0.555);
}    

footer > .ft_div1 > .div2 >div > a {
    color: var(--df-b-color);
    text-decoration: none;
    font-weight: 500;
}

footer > .ft_div1 > .div2 >div > p {
    color: var(--df-b-color);
    text-decoration: none;
    font-weight: 500;
}


footer > .ft_div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0em;
    width: 100%;
    color: var(--df--color);
}



#ft_social_icon_div{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-template-rows: repeat(2,0fr);
    column-gap: 1em;
    row-gap: 1em;
}


#ft_social_icon_div > a {
    color: rgba(255, 255, 255, 0.918);
    text-decoration: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background:var(--ft-main-cl);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#ft_social_icon_div > a  > i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    height: 100%;

}
    
}


@media screen and (min-width :1000px ) {
    footer {
        background: #363636;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding: 2em 2em 1em 2em;
    }
    
    footer > .ft_div1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        column-gap: 3em;
        padding-bottom: 2em;
    }
    
    
    footer > .ft_div1 > .div1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 20%;
        padding: 22px;
        row-gap: 1em;
    }
    
    
    footer > .ft_div1 > .div1 > img {
        width: 4em;
        border-radius: 50%;
    }
    footer > .ft_div1 >a .div1 > img {
    width: 4em;
    border-radius: 50%;

    }
    footer > .ft_div1 > .div1 > p {
       font-size: 14px;
       font-weight: 500;
       color: #f5f4f4;
       text-transform: capitalize;
       text-align: justify;
       line-height: 1.35em;
    }
    
    footer > .ft_div1 > .div2 {
        width:60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        padding-top: 1em;
    }
    
    footer > .ft_div1 > .div2 >div {
    width: 33%;
    }
     
    footer > .ft_div1 > .div2 >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        row-gap: 8px;
    }
    footer > .ft_div1 > .div2 > div > h3{
        color:rgb(245, 186, 39);
        text-transform: uppercase;
        font-size: 1.1em;
    }    
    
    footer > .ft_div1 > .div2 >div > a {
        color: #f5f4f4;
        text-decoration: none;
        font-weight: 500;
    }
    
    footer > .ft_div1 > .div2 >div > p {
        color:#f5f4f4;
        text-decoration: none;
        font-weight: 500;
        text-align: justify;
        line-height: 1.35em;
    }

    footer >hr {
        width: 80%;
        height: 3px;
        border: none;
        background: #f5f4f4;
    }
    
   

    #ft_social_icon_div{
       display: flex;
       flex-direction: row;
       justify-content: center;
        column-gap: 1em;
        row-gap: 1em;
    }

    #ft_social_icon_div > a {
        color: rgba(255, 255, 255, 0.918);
        text-decoration: none;
        width: 2em;
        height: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }

    #ft_social_icon_div > a  > img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    footer > .ft_div2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding:  2em 0em 2em 0em;
        width: 85%;
    }

    footer > .ft_div2 >h5{
        color : #f5f4f4;
        font-size: .9em;
        width: 35%;
    }


    footer > .ft_div2 > div {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: end;
        width: 65%;
        column-gap: 1.5em;
    }
    footer > .ft_div2 > div > a{
        color: #f5f4f4;
        font-size: .9em;
        text-decoration: none;
    }
    
}
   
 
