 /* بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ InshaAllah, By his marcy I will Gain Success */

@keyframes topBarAnime1{
    from{
    right:-50vw;
    }
    to{
    right: 150vw;
    }
}
@keyframes topBarAnime2{   
    from{
    right:-50vw;
    }
    to{
    right: 150vw;
    }
}

 
 header a{
        cursor: pointer;
    }
    header{
        display: flex;
        flex-direction: column;
    }   
    header > div {
        width: 100%;
    }

    #top-bar{
        height: 3em;
        background: black;
        display: flex;
        flex-direction: row;
        align-items: center;
       
        z-index: 6;
    }
    #top-bar> h3{
        color: white;
        width: 500;
        /* transition: all 20s ease-in-out;  */
        font-size: 1.05em;
        word-spacing: .2em;
        position: absolute;
        text-wrap: nowrap;
        animation-name:topBarAnime2;
        animation-duration: 25000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;
        background: transparent;
        position: absolute;
        z-index: 300;
        padding:14px 1.5em;
        top: 3.5em;
        box-sizing: border-box;
        column-gap: 12px;
    }
    #header > .hd-icon-div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    

    }
    .hd-icon{
        width: 55px;
        border-radius: 50%;
    }
    #header > nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1.4em;
        flex-wrap: wrap;
        row-gap: 10px;
    }


    #header > nav > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    #header > nav > div > a {
        color:white;
        text-decoration: none;
        font-size: var(--first-fs);
        font-weight: 500;
        
    }
    
    #header > .hd-btn-div{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items:center;     
    }
     
    #header > .hd-btn-div >button{
       width: 8.5em;
       height: 2.7em;
       border: none;
       color: white;
       background-color: var(   --main-cl);
       text-transform: uppercase;
       border-radius: 8px;
       font-weight: 500;
       line-height: 0px;
       font-size: .9em;    
    }

    #header > .m_nav_i{
        right: 0px;
        color: white;
        display: flex;
        font-size: 22px;
        cursor: pointer;
    }

    
   
    #header .m_nav {
        width: 100vw;
        min-height: 100vh;
        background: #000;
        position: fixed;
        top: 0px;
        right: -100vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        row-gap: 6px;
        padding: 30px 0px 0px 20px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    #header .m_nav.visible{
        right: 0px;
        top: 0px;
        transition: right .45s ease;
    }
    
    #header .m_nav strong {
        color: darkorange;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 0px;
    }


    #header .m_nav .mna{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        min-width: 91vw;
        min-height:40px;
        border :2px solid white;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        align-content: center;
        box-sizing: border-box;
        padding: 7px;
    }


    #header .m_nav button[mobile_nab_close] {
        position: absolute;
        top: 24px;
        right: 25px;
        color: white;
        font-size: 20px;
        background: #000;
        border: none;
    } 


    #header .m_nav a{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }

    #header .m_nav .dropd{
        display: flex;
        flex-direction:column;
        justify-content: start;
        align-items: center;
        row-gap: 7px;
        max-height: fit-content;
    }

    #header .m_nav .dropd a {
        display: none;
        
    }
    #header .m_nav .dropd:hover{
        padding: 8px;
        color :darkorange
    }

    #header .m_nav .dropd:hover a {
        display: flex;
        height: 34px;
        width: 93%;
        border :2px solid white;
        border-radius: 5px;
        align-items: center;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        justify-content: center;
        font-weight: 500;
        transition: all .6s ease;
    }

    #header .m_nav .mna:last-child{
        background: darkorange;
        border: 2px solid darkorange;
        color: black;
        font-weight: 600;
    }
@media screen and (max-width :600px){
    #header {
        justify-content: space-between;
    }
    #header nav, #header .hd-btn-div  {
        display: none;
    }

}



@media screen and (min-width:601px){
    
    #header > .m_nav_i,
    #header > .m_nav {
        display: none;
    }
}