/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
InshaAllah, By his marcy I will Gain Success 
*/

:root {
    --loading-animation-name:loadingOpacity;
    --loading-animation-timing-function :ease;
    --loading-animation-duration:1000ms;
    --loading-animation-iteration-count: infinite;
    --loading-animation-fill-mode: both;

}


@keyframes loadingOpacity {
    from{
        opacity:0.01;
      }

    to{
        opacity: 1;
      }
}



.remove_loader{
    visibility: hidden;
    transition:all 0.8s ease-in-out;
}
 #Loader{
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        z-index: 1000;
    }
    
    #Loader > #main_logo {
        width: 14em;
        border-radius: 50%;
        opacity: .01;
        position: relative;
        /* transition: all 900ms ease-in; */
    }
   
    #Loader > video{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center center;
    }

    
    @media screen and (max-width :650px) {
        #Loader > #main_logo {
            width: 100px;
        }
    }

