/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ ﷺ
InshaAllah ,  By The Marcy Of Allah ,  I will Gain Success
*/

 /************ Applicant form  ************/
 #Applicant-info-form{
    width: 90%; 
    min-height: 20em;
    height: fit-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    position: relative;
    row-gap:1em ;
    transition: var(--form--transition);
  }
  #Applicant-info-form >div{
    width: 100%;
    height: var(--inp-box-hieght);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; 
    column-gap: 8%; 
  } 

  #Applicant-info-form >div> label{
    font-weight: 500;
    color: black;
  }
  #Applicant-info-form > div > input {
    width: 20em;
    background: rgb(235, 235, 235);
    border: none;
    border-radius: 6px;
    height:2.5em ;
    width: 33em;
  }

  
  @media screen and (max-width :670px) {
    #Applicant-info-form >div{
      flex-direction: column;
      row-gap: 5px;
      height: fit-content;
    }

    #Applicant-info-form >div> label{
      width: 100%;
      text-align: left;
    }
    
    #Applicant-info-form >div> input{
      width: 100%;
      /* height: 22px; */
    }
  }
  #Applicant-info-form > #membership-box{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    min-height: 6em;
    height: fit-content;
    row-gap: 1em;
  }
  #Applicant-info-form > #membership-box > span{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
  }
  #Applicant-info-form > #membership-box > span>.membership{
    width: 48%;
    height: 170px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    border: 2px solid rgba(0, 0, 0, 0.123);
    border-radius: 8px;
    padding:10px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    row-gap:4px;
  }
  #Applicant-info-form > #membership-box > span> [default-membership="true"]{
    border: 2px solid var(--main-cl);
  }
  #Applicant-info-form > #membership-box > span>.membership>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
  }
  #Applicant-info-form > #membership-box > span>.membership>div>b{
    color: #000;
    font-weight: 500;
    font-size: 1.25em;
  }
  #Applicant-info-form > #membership-box > span>.membership>div>span{
    color: rgba(0, 0, 0, 0.856);
    font-weight: 500;
    font-size: .87em;
    margin-right:.4em ;
  } 
  #Applicant-info-form > #membership-box >span >.membership>hr{
    height: 2px;
    background: rgba(0, 0, 0, 0.144);
    width: 100%;
    border: none;
    margin: .5em 0px;
  }
  #Applicant-info-form > #membership-box >span >.membership>p{
    text-transform: capitalize;
    font-size: .9em;
  }

  #Applicant-info-form > #membership-box >span >.membership>span{
    color: var(--main-cl);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    position:absolute;
    bottom: 10px;
    left: 10px;
  }
  @media screen and (max-width :670px) {
    #Applicant-info-form > #membership-box > span{
      flex-direction: column;
      row-gap: 13px;
    }
    #Applicant-info-form > #membership-box > span>.membership{
      width: 100%;
    }
  }
  #applicant-form-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  @media screen and (max-width :670px) {
    #applicant-form-btn-div{
      width: 100%;
    }
  }
  #applicant-form-btn {
    background:  var(--main-cl);
    color:white;
    border: 2px solid var(--main-cl);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:5px ;
    width: 6em;
    height: 2.5em;
    font-weight: 500;
    text-transform: capitalize;
  }

