<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>
    Can not find the page 
  </title>
  {{>Links}}
   <link rel="stylesheet" href="/css/pages/404.css">

</head>

<body>
<!-- Header -->
 {{>Header}}
<main>
  
<div class="container">
  <div class="txt_box">
    <h1>404 Page </h1>
      <p>
      There is no Page, Please try another URL
      
    </p>
    <a class="anchor" href="/pg/home">
      Go Back to home <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
  <img class="img" src="/file/img/404.png" alt="">
</div>
</main>
{{>Footer}}

<!-- Footer -->

</body>

</html>