<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>
    Can not find the page 
  </title>
  {{>Links}}

  <link rel="stylesheet" href="/css/pages/404.css">
</head>

<body>

  {{>Header}}
  <main>
<section id="banner">
<div class="container">
  <h2>404 ERROR</h2>
  <P>
    Sorry ,We Can Not Find The Page <SPAn style="color: var(--main-cl);" class="w-url"></SPAn> . Please try again . <br> Thanks
  </P>
</div>
</section>

  </main>
  {{>Footer}}
</body>
<script>
window.addEventListener('load',e =>{
  document.querySelector('.w-url').innerHTML =`"`+ this.location.href+ `"`
  })
</script>

</html>