<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>
    Can not find the page 
  </title>
  {{>Links}}
   <link rel="stylesheet" href="/css/pages/404.css">
  <style>
  #header{
    position: static;
    background: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.007) , 0px 0px 0px rgba(0, 0, 0, 0.007) ,0px 0px 10px rgba(0, 0, 0, 0.07) ,0px 0px 0px rgba(0, 0, 0, 0.007) ;
  }
   #header > nav > div > a {
    color: black;
   }
</style>
</head>

<body>
<!-- Header -->
 {{>Header}}
<main>
  
<div class="container">
  <div class="txt_box">
    <h1>404 Page </h1>
      <p>
      There is no Page, Please try another URL
      
    </p>
    <a class="anchor" href="/pg/home">
      Go Back to home <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
  <img class="img" src="/file/img/404.png" alt="">
</div>
</main>
{{>Footer}}

<!-- Footer -->

</body>

</html>