<!DOCTYPE html>
<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us | Traditional School Of Martial Arts 
  </title>
 <!-- Links -->
 {{!-- <link rel="Icon" href="/img/link_icon.png">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="/css/root.css">
 <link rel="stylesheet" href="/css/header.css">
 <link rel="stylesheet" href="/css/footer.css"> --}}
 {{>Links}}
 <link rel="stylesheet" href="/css/about_us/Banner.for.about-us.css"> 
  <link rel="stylesheet" href="/css/about_us/about-us.for.stma.css"> 
  <script defer src="/js/abs.slide.js"></script>
  <script defer src="/js/header.js"></script>

</head>

<body>

  {{>Header}}

   



<main>

  <section id="banner">
    <h1>About Us</h1>
    <h2>Goju Shin Ryu </h2>
  </section>
  <section id="main_content">
    <article>
      <div class="v-div">
        <video autoplay loop muted src="/video/7463.mp4">
        </video>
      </div>
      <div class="info">
        <div>
          <h2> Goju Shin Ryu</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolorum officiis voluptatem omnis dignissimos, hic amet ea earum quibusdam ipsam suscipit dolore ullam rerum necessitatibus, odio consequatur exercitationem? Recusandae, repudiandae.
          </p>
          
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum provident molestias, suscipit maiores accusantium doloribus mollitia soluta officiis. Et quisquam totam repudiandae animi culpa, incidunt libero obcaecati laudantium odit sit.
          </p>
          
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consectetur quo molestias dolores ratione enim est ea harum numquam. Vero, porro facere distinctio obcaecati animi temporibus cumque harum ut earum.
          </p>
          <div class="btn-box">
            <button>Contact Us</button>
            <button>Enroll Course</button>
          </div>
        </div>
        <div class="img_slider">
          <img id="abs-slider" src="/img/join.jpg" alt="">
        </div>
      </div>
    
    </article>
  </section>
</main>


{{>Footer}}

</body>

</html>