<!DOCTYPE html>
<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us | Traditional School Of Martial Arts 
  </title>
 <!-- Links -->
 {{!-- 
 <link rel="Icon" href="/img/link_icon.png">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="/css/root.css">
 <link rel="stylesheet" href="/css/header.css">
 <link rel="stylesheet" href="/css/footer.css">
  --}}
{{>Links}}
 <link rel="stylesheet" href="/css/about_us/Banner.for.about-us.css">
 <link rel="stylesheet" href="/css/about_us/about-us.for.stma.css">
 <script defer src="/js/header.js"></script>
<script defer src="/js/abs.slide.js"></script>
</head>


<body>

 
{{>Header}}



<main>

  <section id="banner">
    <h1>About Us</h1>
    <h2>Traditional School Of Martial Arts </h2>
  </section>
  <section id="main_content">
    <article>
      <div class="v-div">
        <video autoplay loop muted src="/video/7463.mp4">
        </video>
      </div>
      <div class="info">
        <div>
          <h2>  School Traditional Of Martial Arts</h2>
          <p>
          The School of Traditional Martial Arts is dedicated to preserving the rich heritage of ancient fighting techniques while promoting discipline, physical fitness, and mental strength. Our school offers a variety of traditional martial arts styles, with expert instructors guiding students through every stage of their journey. Whether you're a beginner or an experienced practitioner, we provide a supportive environment where you can grow, develop self-defense skills, and build confidence.
          <br><br>
          At the heart of our teachings is respect for tradition and a commitment to personal development. We believe that martial arts not only enhance physical abilities but also cultivate mental resilience and focus. Our students learn more than just techniques—they develop life skills that translate into every aspect of their lives. Join the School of Traditional Martial Arts today to experience the transformative power of ancient martial arts and become part of a community dedicated to excellence and growth.
        
          </p>
          <div class="btn-box">
            <button>Contact Us</button>
            <button>Enroll Course</button>
          </div>
        </div>
        <div class="img_slider">
          <img id="abs-slider" src="/img/join.jpg" alt="">
        </div>
      </div>
    
    </article>
  </section>
</main>
{{>Footer}}


</body>

</html>