<!DOCTYPE html>
<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> GOJU SHIN RYU INTERNATIONAL MARTIAL ARTS</title>
  <meta name="description" content="Goju Shin Ryu International Martial Arts Academy offers expert training in Canada and India. Join online or regular classes in traditional martial arts, tailored for all skill levels. Explore flexible memberships and start your journey in mastering authentic techniques today!">
  <meta name="keywords" content="Goju Shin Ryu International Martial ,martial art academy ,martial art training near me in canada ,martial art training near me in india ,martial art training at home,martial art training centre,martial art online classes">
  <meta property="og:url" content="http://localhost:4000/about-us/goju-shin-ryo">
  <meta property="og:site_name" content="gojushinryu.com">
  <meta property="og:type" content="website">
  <meta property="og:name" content="School Of Traditional Martial Arts">
  <meta property="og:description" content="Goju Shin Ryu International Martial Arts Academy offers expert training in Canada and India. Join online or regular classes in traditional martial arts, tailored for all skill levels. Explore flexible memberships and start your journey in mastering authentic techniques today!">
  <meta property="og:image" content="https://gojushinryu.com/img/join.jpg">
  <link rel="canonical" href="https://gojushinryu.com" />


 {{>Links}}
 <link rel="stylesheet" href="/css/about_us/Banner.for.about-us.css"> 
  <link rel="stylesheet" href="/css/about_us/about-us.for.stma.css"> 
  <script defer src="/js/abs.slide.js"></script>
  <script defer src="/js/header.js"></script>
  <link rel="canonical" href="https://gojushinryu.com" />
</head>

<body>

  {{>Header}}

   



<main>

  <section id="banner">
    <h1>About Us</h1>
    <h2>Goju Shin Ryu </h2>
  </section>
  <section id="main_content">
    <article>
      <div class="v-div">
        <video autoplay loop muted src="https://res.cloudinary.com/dmuf5ducu/video/upload/v1731971103/7463_eozm02.mp4">
        </video>
      </div>
      <div class="info">
        <div>
          <h2> Goju Shin Ryu</h2>
          <p>
            Goju Shin Ryu International Martial Arts Academy is a prestigious institution dedicated to the practice and preservation of Goju-Ryu karate, a traditional Japanese martial art known for its powerful techniques and deep philosophical teachings. With a focus on discipline, respect, and self-improvement, the academy offers expert training for students of all ages and skill levels. Under the guidance of experienced instructors, students learn essential karate skills, including striking, blocking, and grappling, while also embracing the core values of martial arts such as perseverance and integrity. The academy fosters a supportive community where individuals can build physical strength, mental focus, and self-confidence. Through rigorous training and dedication, students not only master martial arts techniques but also cultivate inner peace and respect for others. Goju Shin Ryu International Martial Arts Academy is committed to providing a transformative martial arts experience that honors tradition while promoting personal growth.
          </p>
          <div class="btn-box">
            <button>Contact Us</button>
            <button>Enroll Course</button>
          </div>
        </div>
        <div class="img_slider">
          <img id="abs-slider" src="/img/join.jpg" alt="Images of Goju Shin Ryu International Martial Arts Academy">
        </div>
      </div>
    
    </article>
  </section>
</main>


{{>Footer}}

</body>

</html>