<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/pages/alli.css">
    <style>
        
    </style>
    {{>Links}}
</head>
<body>
<main>
    <section id="banner">
        <h1>Our Allience</h1>

    </section>

    <section id="alliance-chart">

        <div class="container_1">
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/allience/m2.jpg" alt="">
                    <img src="/img/allience/m2logo.jpg" alt="">
                    <h2>0-SENSEI ROBERT CUTRELL</h2>
                    <span>
                        MARTIAL FEDERATION
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/allience/m6.jpg" alt="">
                    <img src="/img/allience/m6logo.jpg" alt="">
                    <h2>Soke tony aloe</h2>
                    <span>
                       international bugei society
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/allience/m7.jpg" alt="">
                    <img src="/img/allience/m7logo.jpg" alt="">
                    <h2>Soke Johnny k. thompson</h2>
                    <span>
                        Goju Shin Ryu
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/allience/m3.jpg" alt="">
                    <img src="/img/allience/m3logo.jpg" alt="">
                    <h2>gM matt antkowiak</h2>
                    <span>
            US martial artist association
                    </span>
                </div>
            </div>

        </div>
        <div class="container_2">
            <div class="child_container">
  <div class="ali_box">
            <img src="/img/allience/main.jpg" alt="">
            <img src="/img/allience/mlogo.png" alt="">
            <h2>Sensei Varun Jettly</h2>
            <span>
                Goju Shin Ryu
            </span>
        </div>
            </div>
          
        </div>
         <div class="container_3">

            <div class="child_container">
            <div class="ali_box">
            <img src="/img/allience/m1.jpg" alt="">
            <img src="/img/allience/m1logo.jpg" alt="">
            <h2>DR. VIKRAM KAPOOR</h2>
            <span>
                ULTIMATE KRAV MEGA FEDERATION
            </span>
        </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/allience/m4.jpg" alt="">
                    <img src="/img/allience/m4logo.jpg" alt="">
                    <h2>
                        Soke miguel abreu
                    </h2>
                    <span>
                        msd ryu
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/allience/m5.jpg" alt="">
                    <img src="/img/allience/m5logo.jpg" alt="">
                    <h2>soke bryan cheek</h2>
                    <span>
                        jukoshin Ryu international
                    </span>
                </div>
            </div>
     
        </div>
       
    </section>
</main>
    {{>Footer}}
</body>
</html>