<!DOCTYPE html>
<html>
<!-- 
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  InshaAllah 
-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tree </title>
  <link rel="stylesheet" href="/css/pages/allience.css">
  {{>Links}}

</head>

<body>

{{>whiteHeader}}
<section>

<div class="tree">
  <ul>
    <li><a href="#"><img src="/img/allience/main.jpg" alt=""><span>Child</span> </a>
     <ul>
      <li> 
        <a href=""> <img src="/img/allience/m2.jpg" alt=""> <span>Grand Child</span> </a>
        <ul>
          <li> <a href=""><img src="/img/allience/m3.jpg" alt=""><span>Great Grand Child</span></a></li>
          <li><a href=""><img src="/img/allience/m4.jpg" alt=""><span>Great Grand Child</span></a></li>
        </ul>
    </li>
    <li>
       <a href=""><img src="/img/allience/m5.jpg" alt=""><span>Grand Child</span></a>
       <ul>
         <li><a href=""><img src="/img/allience/m6.jpg" alt=""><span>Great Grand Child</span></a></li>
         <li><a href=""><img src="/img/allience/m2.jpg" alt=""><span>Great Grand Child</span></a></li>
         <li><a href=""><img src="/img/allience/m5.jpg" alt=""><span>Great Grand Child</span></a></li>
       </ul>
    </li>  
    <li><a href=""><img src="/img/allience/m1.jpg" alt=""><span>Grand Child</span></a></li>
   </ul>
  </li>
   
   
  </ul>
  
</div>
</section>

{{>Footer}}
</body>

</html>