<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Alliance of {{>company_name}}</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description"
        content=" The Alliance of Schools Traditional Martial Arts connects schools worldwide, uniting practitioners with a shared commitment to preserving and teaching ancient techniques. Join our global network to learn, grow, and honor the rich traditions of martial arts across the world.">
    <meta name="keywords"
        content="Alliance of {{>company_name}} , Alliance of Goju Shin Ryu International Martial Arts">
    {{>Links}}
    <link rel="stylesheet" href="/css/pages/alli.css">
    <script src="/js/pages/alli.js" defer></script>
    <style>

    </style>
</head>

<body>
    <main>

        {{>Header}}
        <section id="banner">
            <h1>Our Alliance</h1>
            <p>
                The Alliance of Schools Traditional Martial Arts connects schools worldwide, uniting practitioners with
                a shared commitment to preserving and teaching ancient techniques. Join our global network to learn,
                grow, and honor the rich traditions of martial arts across the world.
            </p>
            <button>
                <a style="text-decoration:none; color: inherit;background:inherit;font-size:inherit;font-weight:inherit"
                    href="#alliance-chart">
                    Alliance
                </a>
            </button>
        </section>

        <section id="alliance-chart">

            <div class="container_1">
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
                <div class="child_container">
                    <div class="ali_box">
                        <img src="" class="skeleliton_testimonial_image" alt="skeleton image animation">
                        <img src="" class="skeleliton_testimonial_logo" alt="skeleton logo animation">
                        <h2 class="skeleliton_testimonial_name">Grand Master</h2>
                        <span>
                            <a class="skeleliton_testimonial_txt">
                               Organization
                            </a>
                        </span>
                    </div>
                </div>
              
            </div>
            {{!-- <div class="container_2">


                <div class="child_container">
                    <div class="ali_box">
                        <img src="/img/Alliance/m5.jpg" alt="">
                        <img src="/img/Alliance/m5logo.jpg" alt="">
                        <h2>soke bryan cheek</h2>
                        <span>
                            jukoshin Ryu international
                        </span>
                    </div>
                </div>


                <div class="child_container">
                    <div class="ali_box">
                        <img src="/img/Alliance/m1.jpg" alt="">
                        <img src="/img/Alliance/m1logo.jpg" alt="">
                        <h2>DR. VIKRAM KAPOOR</h2>
                        <span>
                            <a href="https://ultimate-kravmaga.com/dr-vikrram-kapoor/">ULTIMATE KRAV MEGA FEDERATION</a>
                        </span>
                    </div>
                </div>


                <div class="child_container">
                    <div class="ali_box">
                        <img src="/img/Alliance/m4.jpg" alt="">
                        <img src="/img/Alliance/m4logo.jpg" alt="">
                        <h2>
                            Soke miguel abreu
                        </h2>
                        <span>
                            <a href="https://www.msdryu.com/index.php?tipo=SOKE%20Grand%20Master"> msd ryu
                                international</a>
                        </span>
                    </div>
                </div>


            </div> --}}
            <div class="container_2" style="display: none;">
                <div class="child_container">
                    <div class="ali_box">
                        <img src="/img/Alliance/main.jpg" alt="">
                        <img src="/img/Alliance/mlogo.png" alt="">
                        <a href="/grand-master-info/shihan-varun-jettly"> Sensei Varun Jettly</a>
                        <span>
                            <a href="https://gojushinryu.com">Goju Shin Ryu International Martial Arts</a>

                        </span>
                    </div>
                </div>

            </div>
        </section>
    </main>
    {{>Footer}}
</body>

</html>