<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Alliance of {{>company_name}}</title>
    <meta name="title" content="Alliance | {{>company_name}}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{>Links}}
    <link rel="stylesheet" href="/css/pages/alli.css">
    
    <style>
        
    </style>
</head>
<body>
<main>

    {{>Header}}
    <section id="banner">
        <h1>Our Alliance</h1>
        <p>
            The Alliance of Schools Traditional Martial Arts connects schools worldwide, uniting practitioners with a shared commitment to preserving and teaching ancient techniques. Join our global network to learn, grow, and honor the rich traditions of martial arts across the world.        
        </p>
        <button>
              <a  style="text-decoration:none; color: inherit;background:inherit;font-size:inherit;font-weight:inherit"
              href="#alliance-chart"  >
              Alliance
              </a>
        </button>
    </section>

    <section id="alliance-chart">

        <div class="container_1">
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/Alliance/m2.jpg" alt="">
                    <img src="/img/Alliance/m2logo.jpg" alt="">
                    <h2>0-SENSEI ROBERT CUTRELL</h2>
                    <span>
                        MARTIAL FEDERATION
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/Alliance/m6.jpg" alt="">
                    <img src="/img/Alliance/m6logo.jpg" alt="">
                    <h2>Soke tony aloe</h2>
                    <span>
                       international bugei society
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/Alliance/m7.jpg" alt="">
                    <img src="/img/Alliance/m7logo.jpg" alt="">
                    <h2>Soke Johnny k. thompson</h2>
                    <span>
                        Goju Shin Ryu
                    </span>
                </div>
            </div>
            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/Alliance/m3.jpg" alt="">
                    <img src="/img/Alliance/m3logo.jpg" alt="">
                    <h2>gM matt antkowiak</h2>
                    <span>
            US martial artist association
                    </span>
                </div>
            </div>

        </div>
         <div class="container_2">


            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/Alliance/m5.jpg" alt="">
                    <img src="/img/Alliance/m5logo.jpg" alt="">
                    <h2>soke bryan cheek</h2>
                    <span>
                        jukoshin Ryu international
                    </span>
                </div>
            </div>


            <div class="child_container">
            <div class="ali_box">
            <img src="/img/Alliance/m1.jpg" alt="">
            <img src="/img/Alliance/m1logo.jpg" alt="">
            <h2>DR. VIKRAM KAPOOR</h2>
            <span>
                ULTIMATE KRAV MEGA FEDERATION
            </span>
        </div>
            </div>
       

            <div class="child_container">
                <div class="ali_box">
                    <img src="/img/Alliance/m4.jpg" alt="">
                    <img src="/img/Alliance/m4logo.jpg" alt="">
                    <h2>
                        Soke miguel abreu
                    </h2>
                    <span>
                        msd ryu
                    </span>
                </div>
            </div>


        </div>    
        <div class="container_3">
            <div class="child_container">
             <div class="ali_box">
            <img src="/img/Alliance/main.jpg" alt="">
            <img src="/img/Alliance/mlogo.png" alt="">
            <h2>Sensei Varun Jettly</h2>
            <span>
                Goju Shin Ryu
            </span>
        </div>
            </div>
          
        </div>
    </section>
</main>
    {{>Footer}}
</body>
</html>