<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>explore the dates of courses Calander's of {{>company_name}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {{>Links}}
    <meta name="description" content="explore the dates of courses Calander's of {{>company_name}} and  Goju Shin Ryu International Martial Arts">
    <meta name="keywords" content="explore the dates of courses Calander's of {{>company_name}},explore the dates of courses Calander's of ">
    <link rel="stylesheet" href="/css/pages/Calender.page.css">
     <link rel="stylesheet" href="/css/about_us/Banner.for.about-us.css"> 
     <script defer src="/js/Calender.Page.js"></script>
     <script>
      let date_of_online_class='{{date_of_online_class}}';
      let date_of_regular_class='{{date_of_regular_class}}';
      let date_of_womens_defence_class='{{date_of_womens_defence_class}}';
     </script>
   <style>
  
#banner{
  height: 90vh ;
  background: url('/img/samurai4.jpg');
  background-position: center left;
  background-size: cover;
  background-repeat:no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-image-slice: fill 1;
  border-image-source: linear-gradient(to right,
   rgba(0, 0, 0, 0.474) ,
   rgba(0, 0, 0, 0.712),
  rgba(0, 0, 0, 0.5));
  row-gap: 7px;
}
#banner > h1 {
  font-size: 33px;
  color: #fff;
  position: relative;
 text-transform: uppercase;
 top: 0px;
}
#banner > h2 {
  color: #fff;
  font-size:18px;
  position: relative;
  opacity:.85;
  text-transform: uppercase;
  top: 0px;
}


#banner > button{
 background-color: var(--main-cl);
  padding:8px 13.4px;
  border: none;
  font-weight: 500;
}
#banner > button >a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
 width: 100%;
 background:inherit;
}

@media screen and (max-width :630px) {
  #banner > h1 {
    font-size: 27px;
  }
  #banner > h2 {
    font-size: 18px;
  }
}
</style>
</head>
<body>
  {{>Header}}
    <main>
    <section class="banner" id="banner">
      <h1>See the Dates Of Classes</h1>  
      <h2>This Month - Next Month</h2>
      <button>
        <a href="#dates_section">Dates</a>
      </button>
    </section>





<section class="dt_heading_sec">
      <h2>Dates of Reqular Classes</h2>
    </section>
    <section id="dates_section" class="dt-calander-section">
      <div id="calendar" calender="1" class="calendar" >
      <div class="cld-header">
        <h3></h3>
        <nav class="cl-nav">
          <button id="prev"><</button>
          <button id="next">></button>
        </nav>
      </div>
      <div class="cl-sec">
        <div class="days">
          <div class="day-list">Sun</div>
          <div class="day-list">Mon</div>
          <div class="day-list">Tue</div>
          <div class="day-list">Wed</div>
          <div class="day-list">Thu</div>
          <div class="day-list">Fri</div>
          <div class="day-list">Sat</div>
        </div>
        <div class="dates"></div>
      </div>
      <div class="base-calender">
     <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Joniur</b>
            <span>
            05:00PM-06:15PM
            </span>
          </div>

        </div>
        <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Seniur</b>
            <span>06:15PM-07:30PM  </span>
          </div>

        </div>
         <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Adults</b>
            <span>
            07:30PM-08:45PM
            </span>
          </div>

        </div>
      </div>
 </div> 

 <div id="calendar" calender="2" class="calendar">
      <div class="cld-header">
        <h3></h3>
        <nav class="cl-nav">
          <button id="prev"><</button>
          <button id="next">></button>
        </nav>
      </div>
      <div class="cl-sec">
        <div class="days">
          <div class="day-list">Sun</div>
          <div class="day-list">Mon</div>
          <div class="day-list">Tue</div>
          <div class="day-list">Wed</div>
          <div class="day-list">Thu</div>
          <div class="day-list">Fri</div>
          <div class="day-list">Sat</div>
        </div>
        <div class="dates"></div>
      </div>
      <div class="base-calender">
       <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Joniur</b>
            <span>
            05:00PM-06:15PM
            </span>
          </div>

        </div>
        <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Seniur</b>
            <span>06:15PM-07:30PM  </span>
          </div>

        </div>
         <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Adults</b>
            <span>
            07:30PM-08:45PM
            </span>
          </div>

        </div>
      </div>
 </div> 
</section>
<section  class="dt_heading_sec">
<h2>Dates of Online Classes</h2>
</section>
<section class="dt-calander-section">
      <div id="calendar" calender="3" class="calendar" >
      <div class="cld-header">
        <h3></h3>
        <nav class="cl-nav">
          <button id="prev"><</button>
          <button id="next">></button>
        </nav>
      </div>
      <div class="cl-sec">
        <div class="days">
          <div class="day-list">Sun</div>
          <div class="day-list">Mon</div>
          <div class="day-list">Tue</div>
          <div class="day-list">Wed</div>
          <div class="day-list">Thu</div>
          <div class="day-list">Fri</div>
          <div class="day-list">Sat</div>
        </div>
        <div class="dates"></div>
      </div>
      <div class="base-calender">
         <div class="cl_time_div">
          <div class="icon">
            <i class="fa-Online fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Time</b>
            <span>09:40 AM - 11:00AM  </span>
          </div>

        </div>
      </div>
      </div> 
      <div id="calendar" calender="4" class="calendar">
      <div class="cld-header">
        <h3></h3>
        <nav class="cl-nav">
          <button id="prev"><</button>
          <button id="next">></button>
        </nav>
      </div>
      <div class="cl-sec">
        <div class="days">
          <div class="day-list">Sun</div>
          <div class="day-list">Mon</div>
          <div class="day-list">Tue</div>
          <div class="day-list">Wed</div>
          <div class="day-list">Thu</div>
          <div class="day-list">Fri</div>
          <div class="day-list">Sat</div>
        </div>
        <div class="dates"></div>
      </div>
      <div class="base-calender">
            <div class="cl_time_div">
          <div class="icon">
            <i class="fa-Online fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Time</b>
            <span>09:40 AM - 11:00AM  </span>
          </div>

        </div>
      </div>
      </div> 
</section>
<section class="dt_heading_sec">
      <h2>Dates of Women Self Defence Classes</h2>
    </section>
    <section class="dt-calander-section">
      <div id="calendar" calender="5" class="calendar" >
      <div class="cld-header">
        <h3></h3>
        <nav class="cl-nav">
          <button id="prev"><</button>
          <button id="next">></button>
        </nav>
      </div>
      <div class="cl-sec">
        <div class="days">
          <div class="day-list">Sun</div>
          <div class="day-list">Mon</div>
          <div class="day-list">Tue</div>
          <div class="day-list">Wed</div>
          <div class="day-list">Thu</div>
          <div class="day-list">Fri</div>
          <div class="day-list">Sat</div>
        </div>
        <div class="dates"></div>
      </div>
      <div class="base-calender">
        <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Time</b>
            <span>03:45PM- 05:00PM  </span>
          </div>

        </div>
      </div>
 </div> 
 
 <div id="calendar" calender="6" class="calendar">
      <div class="cld-header">
        <h3></h3>
        <nav class="cl-nav">
          <button id="prev"><</button>
          <button id="next">></button>
        </nav>
      </div>
      <div class="cl-sec">
        <div class="days">
          <div class="day-list">Sun</div>
          <div class="day-list">Mon</div>
          <div class="day-list">Tue</div>
          <div class="day-list">Wed</div>
          <div class="day-list">Thu</div>
          <div class="day-list">Fri</div>
          <div class="day-list">Sat</div>
        </div>
        <div class="dates"></div>
      </div>
      <div class="base-calender">
         <div class="cl_time_div">
          <div class="icon">
            <i class="fa-regular fa-calendar-days"></i>
          </div>
          <div class="column">
            <b>Time</b>
            <span>03:45PM- 05:00PM  </span>
          </div>

        </div>
      </div>
 </div> 
    </section>
    </main>
    {{>Footer}}
</body>
</html>