<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us | Goju Shin Ryu </title>
    
    <meta name="author" content="Goju Shin Ryu">
    <meta name="title" content="Contact Us | Goju Shin Ryu">
    <meta name="description" content="contact us to ernoll Martial art course .Goju shin Ryu">
    <meta name="keywords" content=" Goju Shin Ryu  ,Traditional School of Martial Arts , Martial Arts Courses ">
    <meta property="og:url" content="https://gojushinryu.com/">
    <meta property="og:site_name" content="GOJU SHIN RYU">
    <meta property="og:type" content="website">
    <meta property="og:name" content="Traditional School of Martial Arts | Goju Shin Ryu">
    <meta property="og:description" content="THE SCHOOL OF TRADITIONAL MARTIAL ARTS offers a different path to physical, mental and spiritual fulfilment through the systematic study of traditional Goju Ryu Karate and or Jiu Jitsu.">
    <meta property="og:image" content="https://gojushinryu.com/img/7442.jpg">
 
  {{>Links}}
  <link rel="stylesheet" href="./css/pages/contact_us.css">
</head>
<body>
  {{>Header}}
  <main>
    
    <section id="banner">
      <h1>Contact Us</h1>
      <p>
      By Contacting Us, You will find Our Suffort what You Needed as A martial Art Practitioner.
      
      </p>
     <button>
      <a  style="text-decoration:none; color: inherit;background:inherit;font-size:inherit;font-weight:inherit"
      href="#contact-us"  >
      Contact Us 

      </a>
      </button>
    </section>
    
    
    
  <section id="contact-us" class="contact-sec">
    <div class="contact-info-container">
      <div class="icon-box">
        <div class="icons">
          <i class="fa-regular fa-envelope"></i>
        </div>
       <div>
         <b>Email</b>
         
 <a title="gmail of Goju shin ryu" class="info-email">
            gojushinryu@gmail.com
          </a>
       </div>
       
      </div>
        <div class="icon-box">
          <div class="icons">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div>
            <b>Phone</b>
            <a title="phone number of Gojushin Ryu" class="info-phone">
                   +84****86
            </a>
          </div>

        </div>
        <div class="icon-box">
          <div class="icons">
            <i class="fa-brands fa-facebook"></i>
          </div>
          
          <div>
            <b>Facebook Page</b>
            <a class="fb-address-info">
            https://facebook.com/gojushinryu
          </a>
          </div>
        </div>
      <div class="icon-box">
        <div class="icons">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div >
         <b>Location</b>
        <a class="location-info">
          *****, *****,****, Canada
        </a>
        </div>

      </div>
    </div>
    
      <div class="contact-form-container">
        <div class="f-info">
                <h2>Contact Us </h2>
                <p>
                  By Contacting Us, You will find Our Suffort what You Needed as A martial Art Practitioner.
           </p>
        </div>

      <div class="r-input-box">
        <div class="input-box">
          <label for="f-name-inp">First Name</label>
          <input id="f-name-inp" type="Text">
        </div>
        <div class="input-box">
           <label for="l-name-inp">Last Name</label>
           <input id="l-name-inp" type="Text">
        </div>
      </div>
      <div class="r-input-box">
       <div class="input-box">
         <label for="email-inp">Email</label>
         <input id="email-inp" type="Text">
       </div>
       <div class="input-box">
         <label for="phone-inp">Phone</label>
         <input id="phone-inp" type="number">
       </div> 
       
      </div>
      <div class="r-input-box">
         <div class="input-box">
           <label for="subject-inp">Subject</label>
           <input id="subject-inp" type="Text">
         </div>
        <div class="input-box">
          <label for="location-inp">Location</label>
          <input id="location-inp" type="Text">
        </div>
      </div>
     
      <div class="txt-box">
        <label for="massage-inp">Massage</label>
        <textarea id="massage-inp" ></textarea>
      </div>
    <div class="c-form-btn-box">
       <button>Send Massage</button>
    </div>

    </div>
   
  </section>
  <section class="map-sec">
    <h2>Our Location </h2>
    <p>
      Our Martial Art School is Located In 
      <span class="highlighted-text">
        Street, City,District, Country
      </span>
      
    </p>
<iframe
 allowtransparency="true" frameborder="0" scrolling="no" 
src="//www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=392197647805691903&amp;ineditor=0&amp;control=3&amp;width=auto&amp;height=400px&amp;overviewmap=0&amp;scalecontrol=0&amp;typecontrol=0&amp;zoom=5&amp;long=-113.4937266&amp;lat=53.5460983&amp;domain=www&amp;point=1&amp;align=1&amp;reseller=false"></iframe>  </section>
  
  </main>

  {{>Footer}}
</body>
</html>