<!DOCTYPE html>
<html>
  <!-- 
    بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   
Insha Allab,  By the marcy of Allah,  I will gain success
  
   -->
      

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Explore our courses at the School of Traditional Martial Arts! Learn ancient techniques, build strength, discipline, and self-defense skills in a supportive, expert-led environment.">
  <meta name="keywords" content="Martial Courses, Karate Course, Women Defence classes,Bhangar Fitness Class,for all ages">
  <meta property="og:site_name" content="  Goju Shin Ryu ">
  <meta property="og:type" content="website">
  <meta property="og:name" content=" Enroll Martial Courses | Goju Shin Ryu">
  <meta property="og:description" content="THE SCHOOL OF TRADITIONAL MARTIAL ARTS offers a different path to physical, mental and spiritual fulfilment through the systematic study of traditional Goju Ryu Karate and or Jiu Jitsu.">
  <meta property="og:image" content="/img/course-page-image.jpg">
  <title> Enroll Martial Courses | Goju Shin Ryu </title>
  {{>Links}}
  <link rel="stylesheet" href="/css/pages/course.page.css" type="text/css"  />



</head>
<body>
  {{>Header}}
<main>

  <!--course section -->
 <section id="banner" class="heading_section">
   <h2> Enroll To Course's  Of Martial Arts</h2>
   <h1>Martial Arts | krav Maga | Goju Ryu </h1>
   <p>
Explore our courses at the School of Traditional Martial Arts! Learn ancient techniques, build strength, discipline, and self-defense skills in a supportive, expert-led environment.   </p>
   <button> <a href="#course_section">VIEW COURSES</a>
   </button>
 </section>

 <section class="heading-sec">
  <h2>Our Courses</h2>
 </section>
 <section id="course_section">
   
   <article class="course-box">
    <img src="/img/2821.jpg" alt="image of martial course">
   <b class="c-cetegory">
     Karate
   </b>
   <h4 class="c-name">
     Join Our Regular classes
     </h4>
     {{!-- <span class="c-enrollment">
       500+ joined Students
       </span> --}}
     <div class="btn-div">
       <button class="btn" ref="regular-classes">Enroll Now</button>
       <span>200.00$</span>
     </div>
  </article>
   
  <article class="course-box">
    <img src="/img/img1.webp" alt="image of martial course">
   <b class="c-cetegory">
     Karate
   </b>
   <h4 class="c-name">
     Join Our Online classes
     </h4>
     {{!-- <span class="c-enrollment">
       500+ joined Students
       </span> --}}
     <div class="btn-div">
       <button class="btn"  ref="Online-classes">Enroll Now</button>
       <span>200.00$</span>
     </div>
  </article>
  
  <article class="course-box">
    <img src="/img/abs-slide/slide32.jpg" alt="image of martial course">
   <b class="c-cetegory">
     Karate
   </b>
   <h4 class="c-name">
     Join Our Seminar's
     </h4>
     {{!-- <span class="c-enrollment">
       500+ joined Students
       </span> --}}
     <div class="btn-div">
       <button class="btn" ref="our-seminars">Enroll Now</button>
       <span>200.00$</span>
     </div>
  </article>
  <article class="course-box">
    <img src="/img/12334.jpg" alt="image of martial course">
   <b class="c-cetegory">
     Karate
   </b>
   <h4 class="c-name">
     Join Our Women Defence classes
     </h4>
     {{!-- <span class="c-enrollment">
       500+ joined Students
       </span> --}}
     <div class="btn-div">
       <button class="btn" ref="women-fitness-classes">Enroll Now</button>
       <span>200.00$</span>
     </div>
  </article>
  <article class="course-box">
    <img src="/img/3101.jpg" alt="image of martial course">
   <b class="c-cetegory">
     Karate
   </b>
   <h4 class="c-name">
  Bhangar Fitness Class for all ages
     </h4>
     {{!-- <span class="c-enrollment">
       500+ joined Students
       </span> --}}
     <div class="btn-div">
       <button class="btn" ref="bhangar-fitness-classes-for-all-ages">Enroll Now</button>
       <span>200.00$</span>
     </div>
  </article>





  
 </section>

</main>

<script>
  document.querySelector(`[ref=""]`).onclick=function (event) {
    e.preventDefault();
    window.location
  }
</script>
{{>Footer}}
</body>
</html>