<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Fevorite Products | Goju Shin Ryu Shop </title>
    {{>Links}}
    <link rel='stylesheet' type='text/css' media='screen' href='/css/shop/main.css'>
    <script src='main.js'>
    </script>
</head>
<body>
    
    <!-- Header Section -->
{{>whiteHeader}}
{{>shopheader}}


    <!-- Shop Page Content -->
    <section class="product-container">
        <!-- Product 1 -->
        <div class="product-card">
            <img src="/img/product1.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>

        <!-- Product 2 -->
        <div class="product-card">
            <img src="/img/product2.jpg" alt="Product 2" class="product_img">
            <h2>Product Name 2</h2>
            <p>Product description goes here.</p>
            <div class="price">$39.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
  <!-- Product 3 -->
        <div class="product-card">
            <img src="/img/product3.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
      <!-- Product 1 -->
        <div class="product-card">
            <img src="/img/product1.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>

        <!-- Product 2 -->
        <div class="product-card">
            <img src="/img/product2.jpg" alt="Product 2" class="product_img">
            <h2>Product Name 2</h2>
            <p>Product description goes here.</p>
            <div class="price">$39.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
  <!-- Product 3 -->
        <div class="product-card">
            <img src="/img/product3.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>

              <!-- Product 1 -->
        <div class="product-card">
            <img src="/img/product1.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>

        <!-- Product 2 -->
        <div class="product-card">
            <img src="/img/product2.jpg" alt="Product 2" class="product_img">
            <h2>Product Name 2</h2>
            <p>Product description goes here.</p>
            <div class="price">$39.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
  <!-- Product 3 -->
        <div class="product-card">
            <img src="/img/product3.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
      <!-- Product 1 -->
        <div class="product-card">
            <img src="/img/product1.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>

        <!-- Product 2 -->
        <div class="product-card">
            <img src="/img/product2.jpg" alt="Product 2" class="product_img">
            <h2>Product Name 2</h2>
            <p>Product description goes here.</p>
            <div class="price">$39.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
  <!-- Product 3 -->
        <div class="product-card">
            <img src="/img/product3.jpg" alt="Product 1" class="product_img">
            <h2>Product Name 1</h2>
            <p>Product description goes here.</p>
            <div class="price">$29.99</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
  
    </section>



{{>Footer}}
</body>
</html>