<!DOCTYPE html>
<html lang="en">
<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ ﷺInsha Allah,  By Your Marcy Ya Allah  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Become a Country Representative for {{>company_name}} and Goju Shin Ryu International Martial Arts
    </title>
    <meta name="description"
        content="Become a Country Representative for {{>company_name}} and  Goju Shin Ryu International Martial Arts">
    <meta name="keywords"
        content="Country Representative for {{>company_name}},Country Representative for Goju Shin Ryu International Martial Arts">
    {{>Links}}
    <link rel="stylesheet" href="/css/pages/flags.css">
</head>

<body>
    {{>Header}}
    <main>

        <section id="banner">
            <h1> Become a Country Representative </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusamus, nesciunt totam sint quod tempore
                harum odio magni necessitatibus? Repudiandae nihil magni alias accusamus omnis officiis est ipsa
                sapiente temporibus.
            </p>
            <button>
                <a href="#flags">Choose Your Country</a>
            </button>
        </section>


        <section id="flags" class="flags">

            <div class="flag">
                <h2>
                    {{!-- United States of America --}}
                    USA
                    </h3>
                    <img src="/img/flag/usa.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>
                    India
                    </h3>
                    <img src="/img/flag/india.png" alt="flag of a country">

                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>
                    Canada
                    </h3>
                    <img src="/img/flag/canada.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Australia</h3>
                    <img src="/img/flag/australia.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>



            <div class="flag">
                <h2>South Korea</h3>
                    <img src="/img/flag/skorea.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Germany</h3>
                    <img src="/img/flag/germany.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>China</h3>
                    <img src="/img/flag/china.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Brazil</h3>
                    <img src="/img/flag/brazil-305531_640.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>United Kingdom</h3>
                    <img src="/img/flag/UnitedKingdom.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>




            <div class="flag">
                <h2>UAE</h3>
                    <img src="/img/flag/UAE.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>



            <div class="flag">
                <h2>Italy</h3>
                    <img src="/img/flag/italy.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Switzerland</h3>
                    <img src="/img/flag/Switzerland.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Netherlands</h3>
                    <img src="/img/flag/Netherlands.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Sweden</h3>
                    <img src="/img/flag/Sweden.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Singapore</h3>
                    <img src="/img/flag/singapore.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Russia</h3>
                    <img src="/img/flag/russia.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>



            <div class="flag">
                <h2>argentina</h3>
                    <img src="/img/flag/argentina.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>Japan</h3>
                    <img src="/img/flag/japan.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>south africa</h3>
                    <img src="/img/flag/south-africa.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>bangladesh</h3>
                    <img src="/img/flag/bangladesh.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>pakistan</h3>
                    <img src="/img/flag/pakistan.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


            <div class="flag">
                <h2>vietnam</h3>
                    <img src="/img/flag/vietnam.png" alt="flag of a country">
                    <button>
                        <a href="/">Become a Representative</a>
                    </button>
            </div>


        </section>



    </main>
    {{>Footer}}

    <script src="/js/flags.js"></script>
</body>

</html>