<!DOCTYPE html>
<!-- 
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ
ﷺ
Insha Allah,  By Your Marcy Ya Allah
-->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{>Links}}
  <title>
    Grand Master Counchil - Goju Shin Ryu
  </title>
  <link rel="stylesheet" href="/css/Grand-master-counchil/grand-master-couchil.css">
  <link rel="stylesheet" href="/css/Grand-master-counchil/gm-event-box.css">
</head>

<body>
<main>
<section id="grand-master-counchil">
  <div class="sidebar-div">

  
  <div class="gm-bio">
    <img src="/img/samurai4.jpg" alt="">
    <h2>Varrun Jettly</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi omnis, volupt
    </p>
    <b class="gm-country">Canada</b>
    <div class="icons">
      
    </div>
  </div>
  <div class="gm-nav-main">
    <h2>Counchil</h2>
    <nav class="sidebar_nav">
      <a href="">
        Massage
      </a>
      <a href="">
        Events
      </a>
      <a href="">
        Notes
      </a>
      <a href="">
        Settings
      </a>
    </nav>
  </div>
</div>

<div class="gm-main">
  <div class="gm_main_heading">
    <h2> Grand Master Counchil </h2>
    <span>
    <button> <i></i> Upload Event</button>
    <button><i class="fa-solid fa-pen"></i> Create A Note</button>
    </span>

  </div>
  <div  style="display: none;"  class="chat-box-container">
  <h2>Chat's</h2>
  <div class="chat-box">
    <div class="chat-massage-cobtainer">
      <div class="t-massage">
        <div class="massage">
          <b class="sender-name">Varun Jettly</b>
          <p class="sender-p">
            Sir, Wellcome to Our Website 
          </p>
        </div>
        <span class="massage-time"></span>
      </div>
      <div class="f-massage">
       <div class="massage">
         <b class="sender-name">You</b>
           <p class="sender-p">
            I am making something, and Show you how it will work...
           </p>
         </div>

      </div>
    </div>
    <div class="send-chat-massage-containar">
     <textarea placeholder="Write a massage" name="" id=""></textarea>
     <button class="send-chat-massage-containar-btn">
       Send
     </button>
    </div>
  </div>
  
  </div>



 <div class="gm-event-box">
   <div class="env-box-header">
     <h3>Events</h3>
   </div>
   <div class="events">
     <div class="event">
       <div class="eventBoxf">
       
           <img class="event-img" src="/img/samurai3.jpg" alt="">
        <h4>
          International Martial Art Event
           </h4>
         </div>

  <div class="icons">
         <button>
           <i class="fa-solid fa-pen">
           </i>
         </button>
         <button>
           <i class="fa-solid fa-trash"></i>
         </button>
       </div>

       </div>
       
     </div>

</div>



</section>

</main>
{{>Footer}}
</body>

</html>