<!DOCTYPE html>
<!-- 
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ
ﷺ
Insha Allah,  By Your Marcy Ya Allah
-->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Grand Master Counchil - Goju Shin Ryu
  </title>
      {{>Links}}
  <link rel="stylesheet" href="/css/Grand-master-counchil/grand-master-couchil.css">
  <link rel="stylesheet" href="/css/Grand-master-counchil/gm-event-box.css">
  <link rel="stylesheet" href="/css/Grand-master-counchil/gm-note.css">
  <link rel="stylesheet" href="/css/Grand-master-counchil/gm-settings.css">
  <link rel="stylesheet" href="/css/Grand-master-counchil/event_upload.css">
<script defer src="/js/grand-master-couchil.js"></script>
</head>

<body>

  {{>whiteHeader}}
<main>
  
<section id="grand-master-counchil">
  <div class="sidebar-div">

  
  <div class="gm-bio">
    <img src="/img/samurai4.jpg" alt="">
    <h2>Varrun Jettly</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi omnis, volupt
    </p>
    <b class="gm-country">Canada</b>
    <div class="icons">
      
    </div>
  </div>
  <div class="gm-nav-main">
    <h2>Counchil</h2>
    <nav class="sidebar_nav">
      <a id="massage_href" href="">
        Massage
      </a>
      <a  id="events_href"  href="">
        Events
      </a>
      <a  id="notes_href"  href="">
        Notes
      </a>
      <a  id="settings_href"  href="">
        Settings
      </a>
    </nav>
  </div>
</div>

<div class="gm-main">
  <div class="gm_main_heading">
    <h2> Grand Master Counchil </h2>
    <span>
    <button id="upload-event-button">  Upload Event</button>
    <button>Create A Note</button>
    </span>

  </div>
  <div gm_section style="display: none;"  class="chat-box-container">
  <h2>Chat's</h2>
  <div class="chat-box">
    <div class="chat-massage-cobtainer">
      <div class="t-massage">
        <div class="massage">
          <b class="sender-name">Varun Jettly</b>
          <p class="sender-p">
            Sir, Wellcome to Our Website 
          </p>
        </div>
        <span class="massage-time"></span>
      </div>
      <div class="f-massage">
       <div class="massage">
         <b class="sender-name">You</b>
           <p class="sender-p">
            I am making something, and Show you how it will work...
           </p>
         </div>

      </div>
    </div>
    <div class="send-chat-massage-containar">
     <textarea placeholder="Write a massage" name="" id=""></textarea>
     <button class="send-chat-massage-containar-btn">
       Send
     </button>
    </div>
  </div>
  
  </div>
  <div gm_section class="gm-event-box">
   <div class="env-box-header">
     <h3>Events</h3>
   </div>
   <div class="events">
     <div class="event">
       <div class="eventBoxf">
       
           <img class="event-img" src="/img/samurai3.jpg" alt="">
        <h4>
          International Martial Art Event
           </h4>
         </div>

  <div class="icons">
         <button>
           <i class="fa-solid fa-pen">
           </i>
         </button>
         <button>
           <i class="fa-solid fa-trash"></i>
         </button>
       </div>

       </div>
       
     </div>

</div>
<div gm_section style="display: none;" class="notes-section">
    <h2>Notes</h2>
    <div class="notes-container">
    
    
      <div class="notes">
        <div class="notes-div-1">
          <h2>
            Developing the Ui
    
          </h2>
          <div class="notes-icon">
            <button>
              <i class="fa-solid fa-pen"></i>
            </button>
            <button>
              <i class="fa-solid fa-trash"></i>
            </button>
            <button>
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
        <p>
          Hi buddy can you make this chart I need 7 in 1 line and 1 in bottom this one I can use in alliance
        </p>
      </div>
    </div>
  </div>
<div gm_section style="display: none;" class="settings-section">
   <h2>Info</h2>
   <div class="img-inp-box">
     <label for="s-sec-profile-input">
       <input id="s-sec-profile-input" style="display: none" type="file">
     </label>
     <b>Profile Image</b>
   </div>
   <div class="s-sec-input-box">
     <label for="s-sec-name-inp">Name</label>
     <input type="Text" name="" id="s-sec-name-inp">
   </div>
   <div class="s-sec-input-box">
     <label for="s-sec-bio-inp">bio</label>
     <input type="Text" name="" id="s-sec-bio-inp">
   </div>
   <div class="s-sec-input-box">
     <label for="s-sec-country-inp">Country</label>
     <input type="Text" name="" id="s-sec-country-inp">
   </div>

   <h2>Credentials</h2>
   <div class="s-sec-input-box">
     <label for="s-sec-user-id-inp">User Id</label>
     <input type="Text" name="" id="s-sec-user-id-inp">
   </div>
   <div class="s-sec-input-box">
     <label for="s-sec-country-inp">
       Password
     </label>
     <input type="password" name="" id="s-sec-country-inp">
   </div>
   <div class="s-sec-btn-box">
     <button>Cancel</button>
     <button> Save</button>
   </div>
 </div>
 
<div gm_section style="display: none;" class="event_upload_sec">

  <div class="event-upload-input-box">
    <label for="event-upload-input-box-title--inp">Title</label>
    <input type="text" placeholder="Write the event Title"
    id="event-upload-input-box-title--inp">

  </div>
  <div class="event-upload-input-box">
    <label for="event-upload-input-box-Description--inp">Description</label>
    <input 
     type="text" placeholder="Write the event Description"
    id="event-upload-input-box-Description--inp">

  </div>
  <div class="upload_sec_event_tumb_img_inp_box">
     <h4>
       Thumnail
     </h4>
    <label for="upload_sec_event_tumb_img_inp">
      <b>Click To Upload <br>
      Thumbnail
      </b>
    </label>
    <input multiple="false" style="display: none" type="file" id="upload_sec_event_tumb_img_inp">
   
  </div>
  <b>Upload Image</b>
  <div class="upload_sec_env_img_inp_box">
    
    <label for="upload_sec_env_img_inp">
      Upload Images
    </label>
    <input 
    style="display: none" 
    type="file"
    id="upload_sec_env_img_inp">
    
  </div>

  
  <div class="upload_event_btn_box">
    <button>Cencel</button>
    <button>Upload</button>
  </div>
  
</div>


</section>

</main>
{{>Footer}}
</body>

</html>