<!DOCTYPE html>
<!-- 
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ
ﷺ
Insha Allah,  By Your Marcy Ya Allah
-->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Grand Master Counchil - Goju Shin Ryu
  </title>
  <link rel="stylesheet" href="/css/pages/grand-master-couchil.css">
</head>

<body>
<section id="grand-master-counchil">
  <div class="gm-bio">
    <img src="./img/gm.jpg" alt="">
    <h2>Varrun Jettly</h2>
    <p>
      Sir, This Page will make you happy,  As this page is made if 
    </p>
    <b>Country</b>
    <div class="icons">
      
    </div>
  </div>
<div class="gm-main">
  <div class="gm_main_heading">
    <h2> Grand Master Counchil </h2>
    <button> <i></i> Upload Event</button>
  </div>

<div class="chat-box-container">
  <h2>Chat's</h2>
  <div class="chat-box">
    <div class="chat-massage-cobtainer">
      <div class="t-massage">
        <div class="massage">
          <b class="sender-name">Varun Jettly</b>
          <p class="sender-p">
            I am making something,  and Show you how it will work...
          </p>
        </div>
        <span class="massage-time"></span>
      </div>
      <div class="f-massage">
       <div class="massage">
         <b class="sender-name">You</b>
           <p class="sender-p">
            I am making something, and Show you how it will work...
           </p>
         </div>

      </div>
    </div>
    <div class="send-chat-massage-containar">
     <textarea name="" id=""></textarea>
     <button class="send-chat-massage-containar-btn">
       Send
     </button>
    </div>
  </div>
  
</div>
</div>
</section>
</body>

</html>