<!DOCTYPE html>
<!-- 
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
InshaAllah, By his marcy I will Gain Success 
-->
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="title" content="SCHOOL OF MARTIAL ARTS AND GOJU SHIN RYU INTERNATIONAL MARTIAL ARTS">
  <meta name="description" content="Join the School of Traditional Martial Arts, offering expert martial arts training in Canada and India. Explore online and regular classes tailored for all skill levels, from beginners to advanced practitioners. Start your journey in mastering authentic techniques today!">
    <meta name="keywords" content="
    School of Traditional Martial Arts ,
    martial art academy,
    martial art training near me in canada ,
    martial art training near me in india,
    martial art training at home,
    martial art training centre
    martial art online classes,
    Goju Shin Ryu International Martial ,
    ">
    
    <meta property="og:url" content="https://gojushinryu.com/">
    <meta property="og:site_name" content="SCHOOL OF MARTIAL ARTS AND GOJU SHIN RYU INTERNATIONAL MARTIAL ARTS">
    <meta property="og:type" content="website">
    <meta property="og:name" content=" SCHOOL OF TRADITIONAL MARTIAL ARTS  AND GOJU SHIN RYU INTERNATIONAL MARTIAL ARTS">
    <meta property="og:description" content="Join the School of Traditional Martial Arts, offering expert martial arts training in Canada and India. Explore online and regular classes tailored for all skill levels, from beginners to advanced practitioners. Start your journey in mastering authentic techniques today!">
    <meta property="og:image" content="https://gojushinryu.com/img/join.jpg">
    
    <title>
        SCHOOL OF TRADITIONAL MARTIAL ARTS
    </title>
    {{>Links}}

    <!-- style sheets -->
    {{!-- <link rel="stylesheet" href="/css/loader.css"> --}}

    <script  src="/js/HomeLoaderAndPopup.js"></script>
    <link rel="stylesheet" href="/css/home/hero.css">
    <link rel="stylesheet" href="/css/home/style.css">
    <link rel="stylesheet" href="/css/pages/testimonials.css">
<link rel="stylesheet" href="/css/home/event.css">
    {{!-- <link rel="stylesheet" href="/css/home/tablet.css">  --}}
    <link rel="stylesheet" href="/css/popup.css">
    {{!-- <script defer src="/js/hero.video.js"></script> --}}
    <script src="/js/counter.js" defer></script>
    <script src="/js/home/testimonials.js" defer></script>
<!-- style  -->
<style>
    
</style>











</head>

<body>
{{!-- {{>Loader}} --}}

{{>Header}}

    <!-- Main -->
<main>

<!-- Hero video -->

   
<!-- Hero -->
 
<section id="Hero_section">
    <div id="wrapper_video">

    <video src="{{home_video_url}}" autoplay loop muted plays-inline id="hvideo">
    </video>
    <div id="hero_content">
        <h1>
        Remove your pains <br> by enjoying martial arts
        </h1>
        <b>-Sensei Varun Jettly</b>  
        <button>
            GET IN TOUCH
        </button>
    </div>  
    </div>   

    
</section>
    
    
    
    
  <!-- After hero section -->


    <article id="hm_about_us_article">
  <div>
  

        <b>WE ARE</b>
        <h2>
            SCHOOL OF TRADITIONAL MARTIAL ARTS
        </h2>
        <p>
            The School of Traditional Martial Arts provides expert training in ancient martial arts techniques, focusing on discipline, self-defense, and physical fitness. Students gain confidence while mastering timeless traditions. This school emphasizes personal growth, respect, and the rich heritage of martial arts, creating a supportive environment for all ages and skill levels. Join us to connect with history, build resilience, and achieve mastery through dedication and expert guidance.
      <br><br>
      Traditional School Of Martial Is ready To Make you master of Martial Arts
        </p>
        <button>
            Learn More 
        </button>
    </div>
    <div class="hm_about_us_article_div2">
        <img src="/img/about_us_article_image.jpg" alt="Teachers of Traditional School Of Martial Arts">
        <div>
            Best Teacher To <br> help You in Martial Arts
        </div>
    </div>
</article>



<!-- Section -->

<section id="icon_box_section">
    <div class="div1">
        <hr>
        <H3>
            Discover Your hidden power of Karate
        </H3>
        <P>
Learn karate at the School of Traditional Martial Arts! Build strength, discipline, and self-defense skills while mastering this timeless art in a supportive environment.        </P>
    </div>
    <div class="div2">
        <div class="iconbox">
            <div>
               <img src="/icon/eye.png" alt="">

            </div>
            <div>
            <b>Our Vision</b>
                <p>
                 The School of Traditional Martial Arts aims to preserve heritage, inspire discipline, and empower individuals through martial arts.
                </p>
         
            </div>
        </div>
        <div class="iconbox">
           <div>
          <img src="/icon/vission.png" alt="">
           </div>
            
            <div>
                <b>
                    Our Mission
                </b>
                <p>
                  The mission of the School of Traditional Martial Arts is to teach ancient techniques, promote personal growth, and foster respect and discipline in every student.
                </p>
            </div>
              
           
        </div>
        <div class="iconbox">
            <div>
                <img src="/icon/handlove.png" alt="">
            </div>
           <div>
                <b>
                    Our Motto
                </b>
                <p>
                  The motto of the School of Traditional Martial Arts is "Discipline, Strength, Honor." Empowering students through timeless traditions.
                </p>
            </div>  
        </div>
    </div>
</section>


<!-- Heading  Section -->

<section class="heading_section">
    <b>specialities</b>  
    <h2>
     Why to join with us 
    </h2>
    <hr>
  </section>

<!-- Section -->

<section id="hm_progress_section">

    <div class="div1">
        <b  class="main_text">
          <span id="countries_counter"></span> +
        </b>
        <b class="second_main_txt">
            COUNTRIES
        </b>
    </div>
    <div class="div2">
        <b class="main_text">
        <span id="students_counter">10000</span>+
        </b>
        <b class="second_main_txt">
            STUDENTS
        </b>
    </div>
    <div class="div3">
        <b  class="main_text">
           <span id="black_belts_counter">5500</span>+
        </b>
        <b class="second_main_txt">
            BLACK BELTS
        </b>
    </div>
    <div class="div4">
        <b class="main_text">
            <span id="experience_counter">20</span>Y+
        </b>
        <b class="second_main_txt">
          Experience
        </b>
    </div>

</section>



<!-- Heading  Section -->

<section class="heading_section">
    <b>Our Teachings</b>  
    <h2>
    Course and workshops
    </h2>
    <hr>
  </section>

<!-- Section -->

<section class="courses_section">
    <div class="div1">
        <img src="/img/8535.jpg" alt="">
        <div>
            <b>
                Workshops
            </b>
            <button>
              <span>
                LEARN MORE
              </span>  <i class="fa-solid fa-square-arrow-up-right"></i>
            </button>
            <hr>
        </div>
    </div>
    <div class="div1">
        <img src="/img/7442.jpg" alt="">
        <div>
            <b>
               Join Classes
            </b>
            <button>
              <span>
                LEARN MORE
               </span> <i class="fa-solid fa-square-arrow-up-right"></i>
            </button>
            <hr>
        </div>
    </div>
    <div class="div1">
        <img src="/img/2821.jpg" alt="">
        <div>
            <b>
                Workshops
            </b>
            <button>
             
               <span>
                LEARN MORE  
               </span>
               <i class="fa-solid fa-square-arrow-up-right"></i>
            </button>
            <hr>
        </div>
    </div>

</section>

<!-- Section -->
<!--  
<section>
    <b>EVENTS</b>
    <h2>UPCOMING EVENTS</h2>
    <p>
        IUKMF is the largest Krav Maga Federation in India and conducts Instructor courses and workshops regularly.
    </p>
    <button>
        KNOW MORE
    </button>
</section>


-->

<!----------------------------------- Event section --------------------------------------------->

<section id="event_section">
        
    <h2>Upcoming Events </h2>
    <div class="">
        <div class="event_box">
            <img src="/img/karate_img.lite.png" alt="">
            <div class="div1">
                <div>
                    <b>Martial Arts Campionship</b>
                    <span>In Australiya</span>
                </div>
                <div>
                    <span>March</span>
                    <b>30</b>
                </div>
            </div>
            <hr>
            <div class="div2">
                <span>30 countries</span>
                <span>600 Athlete</span>                       
            </div>
        </div>
        <div class="event_box">
            <img src="/img/karate_img.png" alt="">
            <div class="div1">
                <div>
                    <b>Martial Arts Campionship</b>
                    <span>In Australiya</span>
                </div>
                <div>
                    <span>March</span>
                    <b>30</b>
                </div>
            </div>
            <hr>
            <div class="div2">
                <span>30 countries</span>
                <span>600 Athlete</span>                       
            </div>
        </div>
    </div>

</section>



<!-----------------------------------  section --------------------------------------------->

<article id="coach_container">
    <h5>Coaches</h5>
    <h2>Our instructors</h2>
    <hr>
    <div>
        <div class="trainer_box">
            <img src="/img/buyer_best_image.lite.jpg" alt="">
            <b>SENSEI VARUN JETTLY</b>
            <span>CEO of STMA</span>
            <div class="icon_box">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div class="trainer_box">
            <img src="/img/buyer_best_image.lite.jpg" alt="">
            <b>SENSEI VARUN JETTLY</b>
            <span>CEO of STMA</span>
            <div class="icon_box">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div class="trainer_box">
            <img src="/img/buyer_best_image.jpg" alt="">
            <b>SENSEI VARUN JETTLY</b>
            <span>CEO of STMA</span>
            <div class="icon_box">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</article>



<section style="display: flex;justify-content:center" class="heading_sec">
    <h2>Testimonials</h2>
</section>


<!--------------------testimomials -------------------->
 <section style="padding: 2em 0px 4.4em 0px ;" class="testimonials">
           
           
            <div class="testimonial">
                <div class="div2">
                    <i class="fa-solid fa-quote-left"></i>
                    <p class="skeleliton_testimonial_txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus possimus omnis perferendis a consequuntur natus corporis officia hic voluptatum reiciendis. Quidem non ducimus itaque numquam? Ad est hic illum ratione.
                    </p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>
                <div class="div1">
                    <img 
                    class="skeleliton_testimonial_image"
                     alt="student">
                    <div>
                        <strong class="skeleliton_testimonial_name">Samurai Alisa</strong>
                        <span class="skeleliton_testimonial_name">Black Belt in Martial Art</span>
                        <hr class="skeleliton_testimonial_hr" >
                    </div>
                </div>
            </div>
          <div class="testimonial">
                <div class="div2">
                    <i class="fa-solid fa-quote-left"></i>
                    <p class="skeleliton_testimonial_txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus possimus omnis perferendis a consequuntur natus corporis officia hic voluptatum reiciendis. Quidem non ducimus itaque numquam? Ad est hic illum ratione.
                    </p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>
                <div class="div1">
                    <img 
                    class="skeleliton_testimonial_image"
                     alt="student">
                    <div>
                        <strong class="skeleliton_testimonial_name">Samurai Alisa</strong>
                        <span class="skeleliton_testimonial_name">Black Belt in Martial Art</span>
                        <hr class="skeleliton_testimonial_hr">
                    </div>
                </div>
            </div>
           
</section>




</main>

{{>Footer}}
</body>
</html>