<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Image | Goju Shin Ryu</title>
    {{>Links}}
    <link rel="stylesheet" href="/css/pages/images.css">


</head>
<body>
   {{>whiteHeader}}
<main>

 <section id="banner">
        <h1>Media Images</h1>
 </section>

    <section class="gallery-container">
        <div class="gallery-grid">
            <!-- Example Images -->
            <div class="gallery-item" >
                <img src="/img/abs-slide/slide1.jpg" alt="Image 1">
            </div>
          <div class="gallery-item" >
                <img src="/img/abs-slide/slide2.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide3.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide4.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide5.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide6.jpg" alt="Image 1">
            </div>
             <div class="gallery-item" >
                <img src="/img/abs-slide/slide7.jpg" alt="Image 1">
            </div>
          <div class="gallery-item" >
                <img src="/img/abs-slide/slide8.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide9.jpg" alt="Image 1">
            </div>

        <div class="gallery-item" >
                <img src="/img/abs-slide/slide10.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide11.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide12.jpg" alt="Image 1">
            </div>

            <div class="gallery-item" >
                <img src="/img/abs-slide/slide13.jpg" alt="Image 1">
            </div>
          <div class="gallery-item" >
                <img src="/img/abs-slide/slide14.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide15.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide16.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide17.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide18.jpg" alt="Image 1">
            </div>
             <div class="gallery-item" >
                <img src="/img/abs-slide/slide19.jpg" alt="Image 1">
            </div>
          <div class="gallery-item" >
                <img src="/img/abs-slide/slide20.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide21.jpg" alt="Image 1">
            </div>
            
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide22.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide23.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide24.jpg" alt="Image 1">
            </div>
     <div class="gallery-item" >
                <img src="/img/abs-slide/slide25.jpg" alt="Image 1">
            </div>
             <div class="gallery-item" >
                <img src="/img/abs-slide/slide26.jpg" alt="Image 1">
            </div>
          <div class="gallery-item" >
                <img src="/img/abs-slide/slide27.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide28.jpg" alt="Image 1">
            </div>
            
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide29.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide30.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide30.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide31.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide32.jpg" alt="Image 1">
            </div>
        <div class="gallery-item" >
                <img src="/img/abs-slide/slide33.jpg" alt="Image 1">
            </div>
        </div>
    </section>
</main>

 
</body>
</html>
