<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login | Goju Shin Ryu </title>
  <script defer src="/js/auth/login.gm_counchil.js"></script>
  {{>Links}}
  <link rel="stylesheet" href="/css/pages/Login.page.css">
</head>

<body>

  {{>whiteHeader}}
  <main>

    <section class="form-sec">

      <h1> Login </h1>
      <h2 id="notice_text">And Join Goju Shin Ryu</h2>

      <form>


      <div class="input-box">
        <label for="---inp--em">Email Address</label>
        <input 
        id="---inp--em"
        placeholder="JoneDue***JoneDue@gmail.com"
        type="text">
      </div>
       <div class="input-box">
         <label for="---inp--ps">
           Password
         </label>
         <input 
         id="---inp--ps"
         placeholder="******"
         type="password">
       </div>
   
        <div class="check-box-div">
          <input 
          type="checkbox"
          id="---inp-remember-me">
          <label for="---inp-remember-me">Remember Me
          </label>
        </div>
        <div class="action-box">
          <a href="/auth/reset-password">I am a student</a>
          <div class="btn-box">
            <button id="login">Login</button>
            {{!-- <button>Sign Up</button> --}}
          </div>
        </div>
      </form>
    </section>
  </main>
  {{>Footer}}
</body>

</html>