<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login | {{>company_name}}</title>
  <script defer src="/js/auth/Login.page.js"></script>
  {{>Links}}
  <meta name="keywords" content="
  login to {{>company_name}}, signin to {{>company_name}} ,sign-in to {{>company_name}} , 
   login to Goju Shin Ryu International Martial Arts, signin to Goju Shin Ryu International Martial Arts ,sign-in to Goju Shin Ryu International Martial Arts , 
  ">
  <link rel="stylesheet" href="/css/pages/Login.page.css">
</head>

<script>
  let
    redirectToMembershipPage = {{redirectToMembershipPage}},
    redirectToCoursePage = {{redirectToCoursePage}},
    redirectToCheckoutPage = {{redirectToCheckoutPage}} ,
    membership_type="{{membership_type}}";
</script>

<body>

  {{>whiteHeader}}
  <main>

    <section class="form-sec">

      <h1> Login </h1>
      <h2 id="notice_text">And Join Goju Shin Ryu</h2>

      <form>


      <div class="input-box">
        <label for="---inp--em">Email Address</label>
        <input 
        id="---inp--em"
        placeholder="Give your Email Address"
        type="text">
      </div>
       <div class="input-box">
         <label for="---inp--ps">
           Password
         </label>
         <input 
         id="---inp--ps"
         placeholder="Give your password"
         type="password"
         
         >
       </div>
   
        <div class="check-box-div">
          <input 
          type="checkbox"
          id="---inp-remember-me">
          <label for="---inp-remember-me">Remember Me
          </label>
        </div>
        <div class="action-box">
          <a href="/auth/reset-password">I have Forgot Password</a>
          <div class="btn-box">
            <button id="login">Login</button>
            <button id="sign-up-btn">Sign Up</button>
          </div>
        </div>
      </form>
    </section>
  </main>
  {{>Footer}}
</body>

</html>