<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>
  Massage From The Server |
    {{>company_name}}
  </title>
  {{>Links}}

  <link rel="stylesheet" href="/css/pages/404.css">
</head>

<body>

  {{>Header}}
  <main>
<section id="banner">
<div class="container">
  <h2>{{title}}</h2>
  <P>
    {{body}}
  </P>
</div>
</section>

  </main>
  {{>Footer}}
</body>

</html>