<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./Post-Detail.html">
  <title>Product Details</title>
</head>
<body>
  <div class="post">
    <!-- Main Image -->
    <div class="main-image" style="background-image: url('main-image.jpg');"></div>

    <!-- Post Image Gallery -->
    <div class="image-gallery">
        <img src="image1.jpg" alt="Gallery Image 1">
        <img src="image2.jpg" alt="Gallery Image 2">
        <!-- More images here -->
    </div>

    <!-- Post Title -->
    <h1 class="post-title">Post Title Goes Here</h1>

    <!-- Post Description -->
    <div class="post-description">
        <p>Post description starts here. It could be several paragraphs long, with subheadings and media embedded throughout.</p>
    </div>
</div>

</body>
</html>