<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/pages/post.destail.css">
{{>Links}}
  <title>Product Details</title>
</head>
<body>

{{>whiteHeader}}
<main>

  <section class="main">

  <article class="post">
    <!-- Main Image -->
    <div class="main-image" style="background-image: url('/img/event.jpg');"></div>

    <!-- Post Image Gallery -->
    <div class="image-gallery">
        <img src="/img/abs-slide/slide1.jpg" alt="Gallery Image 1">
        <img src="/img/abs-slide/slide2.jpg" alt="Gallery Image 2">
        <!-- More images here -->
    </div>

    <!-- Post Title -->
    <h1 class="post-title">Post Title Goes Here</h1>

    <!-- Post Description -->
    <div class="post-description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ut mollitia dolor quisquam cum tempore, dicta vero ullam illum architecto optio rem, recusandae possimus esse minus cupiditate consequatur, impedit similique.
          Post description starts here. It could be several paragraphs long, with subheadings and media embedded throughout.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores nesciunt nulla corporis laudantium hic officia perferendis, voluptatem cumque, earum totam quo dicta quasi illum reprehenderit maxime quas laboriosam, ut perspiciatis!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum reiciendis a recusandae. Rem nulla, recusandae reiciendis dignissimos ullam tempore ratione quasi minima quidem aliquid repellendus ipsum aut, quisquam harum incidunt!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ipsam est eligendi ducimus deserunt et autem dolor, vel ut harum ipsum esse, animi pariatur tempore ex non, placeat aperiam voluptatem?
        </p>
    </div>
  </article>
  </section>

</main>
{{>Footer}} 
</body>
</html>