<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Country Representative | {{>company_name}}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{>Links}}
    
</head>
<body>
    {{>Header}}
    <main>
        <section id="banner">
            <h1>Our Representative in Differents Countries</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum labore totam, assumenda animi illum commodi distinctio fugiat officia numquam? Voluptates aspernatur odio labore quod eveniet quia accusantium. Tempora, iste vel?
            </p>
            <button>
                <a href="#Representatives">
                    View The Representatives
                </a>
            </button>
        </section>
        <section id="Representatives">
            <div class="Representative">
                <img src="/" alt="">
                <img src="/img/flags/bangladesh.png" alt="country flag">
                <h2>Mubtasim Fuad</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni temporibus eaque asperiores soluta nam doloribus eligendi harum dolores eos, dolore officia aut animi hic tenetur maxime ea natus fugiat incidunt?
                </p>
            </div>

        </section>
    </main>
    {{>Footer}}
</body>
</html>