<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Country Representative | {{>company_name}}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{>Links}}
    <link rel="stylesheet" href="/css/pages/representatives.css">
    <script src="/js/representatives.js" defer></script>
</head>
<body>
    {{>Header}}
    <main>
        <section class="banner" id="banner">
            <h1>Our Representative in Differents Countries</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum labore totam, assumenda animi illum commodi distinctio fugiat officia numquam? Voluptates aspernatur odio labore quod eveniet quia accusantium. Tempora, iste vel?
            </p>
            <button>
                <a href="#Representatives">
                    View The Representatives
                </a>
            </button>
        </section>
        <section class="Representatives" id="Representatives">
            <div class="Representative">
                <span class="skeleliton_image1"  ></span>
                <span class="skeleliton_image2"  ></span>
                <h3 class="skeleliton_name">
                    Mubtasim Fuad
                </h3>
                <b class="skeleliton_name">
                    Bangladesh
                </b>
                <p class="skeleliton_name">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni temporibus eaque asperiores soluta nam doloribus eligendi harum dolores eos, dolore officia aut animi hic tenetur maxime ea natus fugiat incidunt?
                </p>
            </div>
             <div class="Representative">
                <span class="skeleliton_image1"  ></span>
                <span class="skeleliton_image2"  ></span>
                <h3 class="skeleliton_name">
                    Mubtasim Fuad
                </h3>
                <b class="skeleliton_name">
                    Bangladesh
                </b>
                <p class="skeleliton_name">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni temporibus eaque asperiores soluta nam doloribus eligendi harum dolores eos, dolore officia aut animi hic tenetur maxime ea natus fugiat incidunt?
                </p>
            </div>
             <div class="Representative">
                <span class="skeleliton_image1"  ></span>
                <span class="skeleliton_image2"  ></span>
                <h3 class="skeleliton_name">
                    Mubtasim Fuad
                </h3>
                <b class="skeleliton_name">
                    Bangladesh
                </b>
                <p class="skeleliton_name">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni temporibus eaque asperiores soluta nam doloribus eligendi harum dolores eos, dolore officia aut animi hic tenetur maxime ea natus fugiat incidunt?
                </p>
            </div>
             <div class="Representative">
                <span class="skeleliton_image1"  ></span>
                <span class="skeleliton_image2"  ></span>
                <h3 class="skeleliton_name">
                    Mubtasim Fuad
                </h3>
                <b class="skeleliton_name">
                    Bangladesh
                </b>
                <p class="skeleliton_name">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni temporibus eaque asperiores soluta nam doloribus eligendi harum dolores eos, dolore officia aut animi hic tenetur maxime ea natus fugiat incidunt?
                </p>
            </div>

        </section>
    </main>
    {{>Footer}}
</body>
</html>