<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Reset PassWord | Goju Shin Ryu
  </title>
    {{>Links}}

  <link rel="stylesheet"  href="/css/pages/reset_password.page.css">
</head>

<body>

    {{>whiteHeader}}

  <main>

    <section class="form-sec">

      <h1>Reset Password </h1>
      <h2>Reset Your Password By Otp Varication</h2>

      <form>


      <div class="input-box">
        <label for="---inp--otp">OTP</label>
        <input 
        id="---inp--em"
        placeholder="OTP was send by Mail"
        type="number">
      </div>
      <div class="input-box">
         <label for="---inp--ps">
           Password
         </label>
       <input 
         id="---inp--ps"
         placeholder="******"
         type="password">
       </div>
      <div class="input-box">
         <label for="---inp--cps">
          Confirm Password
         </label>
      <input 
         id="---inp--cps"
         placeholder="******"
         type="password">
      
       </div>
        <div class="action-box">
          <a href="">I have Forgot Password</a>
          <div class="btn-box">
            <button>
              Reset Password
            </button>
            <button>
              Cancel
            </button>
          </div>
        </div>
      </form>
    </section>
  </main>
    {{>Footer}}

</body>

</html>