<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Password | Goju Shin Ryu </title>
    {{>Links}}
<script defer src="/js/auth/reset.pass.user.js" ></script>
  <link rel="stylesheet" href="/css/pages/sign-up.page.css">
</head>

<body>
  {{>whiteHeader}}


  <main>
    
    <section class="form-sec">
      
      <h1 id="notice_text"> Reset Password </h1>
      {{!-- <h2>And Join Goju Shin Ryu</h2> --}}

    <form id="reset_pass_form">

      <div class="input-box">
      <label for="---inp--em">Email</label>
        <input
        id="---inp--em"
        placeholder="Jone@gmail.com"
        type="email">
      </div>
      <div style="display: none;" class="input-box">
       <label for="---inp--em">OTP </label>
        <input
        id="---inp--otp"
        placeholder="Opt was send by email"
        type="number">
      </div>
      <div style="display: none;" class="input-box">
      <label for="---inp--em">New Password </label>
        <input
        id="---inp--ps"
        placeholder="******"
        type="password">
      </div>
      <div style="display: none;" class="input-box">
      <label for="---inp--em">Confirm Password </label>
        <input
        id="---inp--cps"
        placeholder="******"
        type="password">
      </div>
      
       <div class="action-box">
         <a href="/"> Don't want Change Password</a>
         <div class="btn-box">
           <button primarybtn >Get Otp</button>     
         </div>
       </div>
    </form>
   </section>
  </main>
    {{>Footer}}

</body>

</html>