<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="Explore Popular and Demanded Martial Art Equipement like Punching bags, samurai sword,Gloves , Focus Mitts ,Shinguards ,Hand Wraps from Our Store at Goju Shin Ryu and we sell to CANADA and INDIA">
    <meta name="keywords" content=" 
    martial art training equipment,
    Goju Shin Ryu International Martial Arts ,
     School of Traditional Martial Arts International,
      ">
    <meta property="og:url" content="https://gojushinryu.com/shop">
    <meta property="og:site_name" content="Buy Goju shin Ryu Store">
    <meta property="og:type" content="website">
    <meta property="og:name" content="Buy artial Art Equipement from Goju Shin Ryu">
    <meta property="og:description" content="Explore Popular and Demanded Martial Art Equipement like Punching bags, samurai sword,Gloves , Focus Mitts ,Shinguards ,Hand Wraps from Our Store at Goju Shin Ryu ">
    <meta property="og:image" content="https://gojushinryu.com/img/product1.jpg">


    <title> Buy Martial Art Equipement from
         {{!-- {{>company_name}} |  --}}
        Goju Shin Ryu International Martial Arts Equipement Shop
         </title>
     {{!-- 
     <meta http-equiv="Content-Security-Policy" content="img-src data: https:"> 
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
     <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com  https://fonts.googleapis.com https://fonts.gstatic.com;"> 
     --}}
    {{>Links}}
    <link rel="stylesheet" href="/css/shop/shop.css">
</head>
<body>
 
    <!-- Header Section -->
{{>whiteHeader}}
{{>shopheader}}


    <!-- Shop Page Content -->
    <section class="product-container">





    
        <div class="product-card">
            <img 
            {{!-- src="/img/product3.jpg" --}}
             alt="Product loading image" 
             class="product_img loading_image">
            <h2 class="skeleliton_testimonial_name">Product Name 1</h2>
            <p class="skeleliton_testimonial_name">Product description goes here.</p>
            <div class="price skeleliton_testimonial_name">$29.99</div>
            <button class="add-to-cart skeleliton_testimonial_name">Add to Cart</button>
        </div>
   
  

    
        <div class="product-card">
            <img 
            {{!-- src="/img/product3.jpg" --}}
             alt="Product loading image" 
             class="product_img loading_image">
            <h2 class="skeleliton_testimonial_name">Product Name 1</h2>
            <p class="skeleliton_testimonial_name">Product description goes here.</p>
            <div class="price skeleliton_testimonial_name">$29.99</div>
            <button class="add-to-cart skeleliton_testimonial_name">Add to Cart</button>
        </div>
   

    
        <div class="product-card">
            <img 
            {{!-- src="/img/product3.jpg" --}}
             alt="Product loading image" 
             class="product_img loading_image">
            <h2 class="skeleliton_testimonial_name">Product Name 1</h2>
            <p class="skeleliton_testimonial_name">Product description goes here.</p>
            <div class="price skeleliton_testimonial_name">$29.99</div>
            <button class="add-to-cart skeleliton_testimonial_name">Add to Cart</button>
        </div>
   

    
        <div class="product-card">
            <img 
            {{!-- src="/img/product3.jpg" --}}
             alt="Product loading image" 
             class="product_img loading_image">
            <h2 class="skeleliton_testimonial_name">Product Name 1</h2>
            <p class="skeleliton_testimonial_name">Product description goes here.</p>
            <div class="price skeleliton_testimonial_name">$29.99</div>
            <button class="add-to-cart skeleliton_testimonial_name">Add to Cart</button>
        </div>
   

    
        <div class="product-card">
            <img 
            {{!-- src="/img/product3.jpg" --}}
             alt="Product loading image" 
             class="product_img loading_image">
            <h2 class="skeleliton_testimonial_name">Product Name 1</h2>
            <p class="skeleliton_testimonial_name">Product description goes here.</p>
            <div class="price skeleliton_testimonial_name">$29.99</div>
            <button class="add-to-cart skeleliton_testimonial_name">Add to Cart</button>
        </div>
   
   <div class="product-card">
            <img 
            {{!-- src="/img/product3.jpg" --}}
             alt="Product loading image" 
             class="product_img loading_image">
            <h2 class="skeleliton_testimonial_name">Product Name 1</h2>
            <p class="skeleliton_testimonial_name">Product description goes here.</p>
            <div class="price skeleliton_testimonial_name">$29.99</div>
            <button class="add-to-cart skeleliton_testimonial_name">Add to Cart</button>
        </div>
   
  
    
    </section>
<script  src="/js/shop/shop.js"></script>
{{>Footer}}
</body>
</html>
