<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Join {{>company_name}} </title>
    {{>Links}}

  <link rel="stylesheet" href="/css/pages/sign-up.page.css">
  <script defer src="/js/auth/sign-up.js"></script>
  <meta name="description" content="Sign Up to join {{>company_name}} and join  Goju Shin Ryu International Martial Arts">
  <meta name="keywords" content="Sign Up {{>company_name}}, join {{>company_name}} ,Register {{>company_name}} ">
</head>

<body>
  {{>whiteHeader}}
<script>
   let
    redirectToMembershipPage = {{redirectToMembershipPage}},
    redirectToCoursePage = {{redirectToCoursePage}},
    redirectToCheckoutPage = {{redirectToCheckoutPage}} ;
</script>

  <main>
    
    <section class="form-sec">
      
      <h1> Sign Up </h1>
      <h2 id="notice_text" >And Join Goju Shin Ryu</h2>
      
    <form>

      <div class="input-box">
        <label for="---inp--fn">First Name</label>
        <input
        id="---inp--fn"
        placeholder="Jone"
        type="text">
      </div>
      <div class="input-box">
        <label for="---inp--ln">last Name</label>
        <input
        id="---inp--ln"
        placeholder="Due"
        type="text">
      </div>
      <div class="input-box">
        <label for="---inp--em">Email Address</label>
        <input 
        id="---inp--em"
        placeholder="JoneDue***JoneDue@gmail.com"
        type="text">
      </div>
      <div class="input-box">
        <label for="---inp--num">Phone Number</label>
        <input 
        id="---inp--num"
        placeholder="+968****7"
        type="Number">
      </div>
        <div class="input-box">
        <label for="---inp--country">Country</label>
        <input 
        id="---inp--country"
        placeholder="canada"
        type="text">
      </div>
       <div class="input-box">
         <label for="---inp--ps">
           Password
         </label>
         <input 
         id="---inp--ps"
         placeholder="******"
         type="password">
       </div>
       <div class="input-box">
         <label for="---inp--cps">
          Confirm  Password
         </label>
         <input 
         id="---inp--cps"
         placeholder="******"
         type="password">
       </div>       
       <div class="action-box">
         <a href="/auth/reset-password">I have Forgot Password</a>
         <div class="btn-box">
           <button primarybtn>Join</button>
          <button sbtn> 
            Login
          </button>
         </div>
       </div>
    </form>
   </section>
  </main>
    {{>Footer}}

</body>

</html>