<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
    <link rel="stylesheet" href="/css/pages/testimonials.css">
    {{>Links}}
</head>
<body>
    {{>whiteHeader}}
    <main>
        <section  class="testimonials">
            <div class="testimonial">
                
                <div class="div2">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>
                        Training with Goju Shin Ryu Martial Arts, under the expert guidance of Sensei Varun Jettly, has been an incredible experience. Sensei Varun's deep knowledge, dedication, and passion for martial arts truly shine through in every class. His personalized approach helps students of all levels improve their skills and build confidence. Highly recommended for anyone looking to master Goju Shin Ryu!
                    </p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>
                <div class="div1">
                    <img src="/img/event.jpg" alt="student">
                    <div>
                        <strong>Samurai Alisa</strong>
                        <span>Black Belt in Martial Art</span>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                
                <div class="div2">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>
Joining Goju Shin Ryu Martial Arts under the instruction of Sensei Varun Jettly has been transformative. Sensei Varun’s mastery of the art, combined with his commitment to each student’s growth, creates an environment where everyone can excel. His teaching style is both rigorous and supportive, making it an ideal place for learners at any stage to develop both skill and self-discipline. Highly recommended!                    </p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>
                <div class="div1">
                    <img src="/img/testimonials1.jpg" alt="student">
                    <div>
                        <strong>Samurai Jone</strong>
                        <span>Black Belt in Martial Art</span>
                        <hr>
                    </div>
                </div>
            </div>
           
        </section>
    </main>
    {{>Footer}}
</body>
</html>