<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials of {{>company_name}}  </title>
    <link rel="stylesheet" href="/css/pages/testimonials.css">
    {{>Links}}
    <meta name="description" content="Explore the Testimonials of {{>company_name}} and Goju Shin Ryu International Martial Arts ">
    <meta name="keywords" content="Testimonials of {{>company_name}}   ,Testimonials of  Goju Shin Ryu International Martial Arts ">
    <script defer src="/js/testimonials.js"></script>

</head>
<body>
    {{>whiteHeader}}
    <main>

 <section id="banner">
      <h1>Testimonials</h1>
      <p>
School of Traditional Martial Arts is more than just a martial arts academy. It's a place where discipline meets passion, and self-defense becomes a way of life. With expert instructors and a focus on both physical and mental development, TSMA empowers individuals to reach their full potential      </p>
      <button>
        <a  style="text-decoration:none; color: inherit;background:inherit;font-size:inherit;font-weight:inherit" href="#testimonials"  > 
          View The Testimonials
        </a>
      </button>
    </section>









        <section id="testimonials" class="testimonials">
         
            

           

              
            <div class="testimonial">
                <div class="div2">
                    <i class="fa-solid fa-quote-left"></i>
                    <p class="skeleliton_testimonial_txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus possimus omnis perferendis a consequuntur natus corporis officia hic voluptatum reiciendis. Quidem non ducimus itaque numquam? Ad est hic illum ratione.
                    </p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>
                <div class="div1">
                    <img 
                    class="skeleliton_testimonial_image"
                     alt="student">
                    <div>
                        <strong class="skeleliton_testimonial_name">Samurai Alisa</strong>
                        <span class="skeleliton_testimonial_name">Black Belt in Martial Art</span>
                        <hr class="skeleliton_testimonial_hr" >
                    </div>
                </div>
            </div>


              
            <div class="testimonial">
                <div class="div2">
                    <i class="fa-solid fa-quote-left"></i>
                    <p class="skeleliton_testimonial_txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus possimus omnis perferendis a consequuntur natus corporis officia hic voluptatum reiciendis. Quidem non ducimus itaque numquam? Ad est hic illum ratione.
                    </p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>
                <div class="div1">
                    <img 
                    class="skeleliton_testimonial_image"
                     alt="student">
                    <div>
                        <strong class="skeleliton_testimonial_name">Samurai Alisa</strong>
                        <span class="skeleliton_testimonial_name">Black Belt in Martial Art</span>
                        <hr class="skeleliton_testimonial_hr" >
                    </div>
                </div>
            </div>
           
        </section>
    </main>
    {{>Footer}}
</body>
</html>