<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> OTP Varification | Goju Shin Ryu </title>
  <script defer src="/js/auth/Varification.page.js">
  </script>
    {{>Links}}

  <link rel="stylesheet" href="/css/pages/Varification.page.css">
</head>

<body>

    {{>whiteHeader}}

  <main>

    <section class="form-sec">

      <h1> Opt Varification  </h1>
      <p>
        Varify Your Account Under 60 Second's. Remaining Time For Varification is 
        <span class="vf-time">60</span> Second
      </p>

      <form>


      <div class="input-box">
        <label for="---inp--otp">
          Varification OTP
        </label>
        <input 
        id="---inp--otp"
        placeholder="******"
        type="number"
        >
      </div>
        <div class="action-box">
          <a class="vf-timer-anchor">Remaining Time
          <span class="vf-time">60</span> Second's </a>
          <div class="btn-box">
            <button vf-btn>
              Varify
            </button>
            <button>
              <a 
          style="text-decoration:none; color: inherit;background:inherit;font-size:inherit;font-weight:inherit"
           href="/auth/sign-up">
       Sign Up again
        </a>
              
            </button>
          </div>
        </div>
      </form>
    </section>
  </main>
  {{>Footer}}
</body>

</html>














