/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
InshaAllah, By his marcy I will Gain Success 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.currency{
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
}


.checkout-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    row-gap: 30px;
}

.checkout-body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    columns: 20px;
    column-gap: 30px;
    row-gap: 20px;
    
}

/* Form Section */
.form-section {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    row-gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

form input, select {
    padding:10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: content-box;
    background: #fff;
}

form textarea{
    width: 100%;
    box-sizing: content-box;
    background: #fff;
    padding:10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    height: fit-content;
    min-height: 67px;
    max-height: 500px;
    resize: vertical;
}
/* Order Summary Section */
.order-summary {
    display: flex;
    flex-direction: column;
    min-width:35%;
    width: fit-content;
    background-color: whitesmoke;
    padding: 20px auto;
    border-radius: 8px;
    row-gap: 20px;


}

.order-summary .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    flex-wrap: nowrap;
    row-gap: 12px;
    padding: auto;
    width: 100%;
}
.item img {
    max-width: 50px;
}
.item p{
    text-wrap: wrap;
    min-width:50%;
}
input ,select ,textarea{
    outline: none;
}
.totals {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 24px;
    flex-wrap: wrap;
    width: 100%;
    margin: 13px 0px;
}
.btns button{
    color: #fff;
    padding: 7.5px 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
   width: 180px;
   height: 55px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   column-gap: 12px;
   flex-wrap: nowrap;

}
.btns i{
    font-size: 22px;
}
.btns button:first-child{
    background-color: #002e83;
    transition: opacity .5s ease-in;
    
}

.btns button:last-child{
    background-color: #1a1b1d;
    transition: opacity .5s ease-in;

}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .checkout-body {
        flex-direction: column;
    }

    .order-summary {
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 600px) {
    .order-summary{
        width: 100%;
    }
}