/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/
/* #Allient-grand-master-container {
   display: flex;
   flex-direction: column;
   row-gap: 100px;
} */

@scope (#Allient-grand-master-container){
    :scope {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 100%;
    }
    

    h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: bold;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 15px;
        text-align: center;
        border: 1px solid #dddddd;
    }

    th {
        background-color: #000000;
        color: #ffffff;
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
    }

    .btn-update,
    .btn-delete,
    .btn-add {
        background-color: #000000;
        color: #ffffff;
    }

    .btn-add {
        display: block;
        margin: 20px auto;
    }

    /* Modal Styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: #ffffff;
        color: #000000;
        border-radius: 4px;
        width: 50%;
        max-width: 600px;
        padding: 20px;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: 98vh;
        overflow-y: scroll;
    }
    .modal-content h2{
        margin-bottom:.73em ;
    }
    .close {
        color: #000000;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: #000000;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

    .form-group label {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap : 10px;

    }
    .form-group label img {
        height: 100px;
        width: 100px;
    }
    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        font-size: 1rem;
    }

    .form-group textarea {
        resize: vertical;
        min-height:200px;
        max-height:2000px;
    }

    @media (max-width: 768px) {
        .modal-content {
            width: 90%;
        }
    }
}


   
   

