/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/



#couses-enrollment-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    row-gap: 40px;
    width: 100%;
}


#couses-enrollment-list-container > table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#couses-enrollment-list-container th{
    border: 1px solid #000;
    text-align: left;
    padding: 10px 12px; 
    background-color:black;
    color: white;
  }


  #couses-enrollment-list-container td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px 12px;
    background: inherit;
    text-wrap: wrap;
  }


  #couses-enrollment-list-container td img {
    max-width:90% ;
    object-fit: contain;
    object-position: top left;
    max-height:80px ;
  }


  #couses-enrollment-list-container tr:nth-child(1){
    background: var(--main-cl);
  }


  #couses-enrollment-list-container tr{
    background-color: #ffffff;

  }

  #couses-enrollment-list-container button{
    background: inherit;
    border: none;
    font-size: 14px;
    color: white;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 8px 14px;
}

