/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/
.live-chat-box-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
    border-radius :8px ;
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 24px;
  }
 .live-chat-box-container > .st-massager-info{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 13px;
 } 
 .live-chat-box-container > .st-massager-info>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
 }
 .live-chat-box-container > .st-massager-info>span{
  font-weight: 500;
  font-size: 17px;
  color: black;
 }

  .live-chat-box-container > .chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    padding:7px 0px;
    row-gap: 20px;
  }
  .chat-massage-cobtainer {
    display: flex ;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    position: relative;
   border-radius :8px;
    background: #F2F0F0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height:400px;
/* padding: 15px 15px; */
    row-gap:8px;
  }
  .chat-massage-cobtainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;

    row-gap: 5px;
    width: 100%;
  }
  .chat-massage-cobtainer > div > div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 80%;
    padding: 16px;
    row-gap: 6px;
    box-shadow: var(--fev-box-shadow);
  }
  .t-massage{
    padding-left: 0px;
    align-items: start;    
  }
  .f-massage{
    padding-right: 0px;
    align-items: end;
  }
   .sender-name{
    color: #000;
  }
  .sender-p{
    text-align: left;
    color: #666;
  }
  .t-massage > div{
    background:white;
    min-height: 20px;
    border-radius: 0px 7px 7px 7px

  }
  .f-massage > div {
    background: #ccc;
    border-radius: 7px 7px 0px 7px
  }
  .send-chat-massage-containar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap:6px;
    justify-content: space-between;
    width: 100%;
  }
  .send-chat-massage-containar > textarea {
    padding:4px 5px;
    box-sizing:border-box;
    outline: none;
    border-radius :4px;
    border:0.3px solid rgba(0, 0, 0, 0.349);
    background:var(--input-bg);
    text-wrap: wrap;
    vertical-align: top;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.041);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 35px;
    font-size:14px;
    width: 90%;
   resize: vertical;
   max-height: 100px;
  }
  .send-chat-massage-containar-btn{
    background:var(--main-cl);
    font-weight: 500;
    font-style: 16px;
    border: none;
    border-radius: 6.5px 6.5px 6.5px 0px;
    color:white;
    align-items: center;
    box-sizing :border-box;
    height: 35px;
    width:70px;
  }