/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/
.member-list-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    row-gap: 23px;
}
.member-list-box b {
    font-weight: 500px;
    font-size: 16px;
    text-transform: uppercase;
}
.member-list-box > .members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: fit-content;
    box-shadow: var(--fev-box-shadow);
}
.member-list-box> .members >.member{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    padding: 12px 19px 24px ;
    /* bmember-bottom:2px solid rgba(0, 0, 0, 0.096) ; */
}
 .member-list-box > .members > .member:first-child{


    background-color: black;
    color: white;
    border: none;
    padding:16px 19px;
    width: 100%;
}
.member-list-box> .members> .member> img {
   width: 60px;
   height: 60px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center center;
}
.member-list-box> .members > .member> .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 5px;
    width: 260px;
    text-wrap: wrap;
    font-size: 17.7px;
    font-weight: 500;
    color: black;

}
.member-list-box> .members > .member>div{
    width: 150px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items:start;
    column-gap: 10px;

}
.member-list-box> .members > .member>div[membership]{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    row-gap: 5px;
    position: relative;
}
.member-list-box> .members > .member>div[membership]>span:first-child{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15.5px;
    font-style: bold;
}
.member-list-box> .members > .member>div[membership]>span:last-child{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    font-style: bold;
}
.member-list-box> .members > .member>div> b{
    color:black;
    font-weight: 600;
    font-size: 17.5px;
    text-transform: capitalize;
    text-wrap: wrap;
}
.member-list-box> .members > .member> span{
    font-size: 14px;
    color: #666;
    font-weight: 500;
    width: 100px;
}
.member-list-box> .members > .member>button{
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #000;
    border: none;
}