/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/
.order-list-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    row-gap: 23px;
}
.order-list-box table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.order-list-box table th{
    border: 1px solid #000;
    text-align: left;
    padding: 10px 12px; 
    background-color:black;
    color: white;
  }


 .order-list-box table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px 12px;
    background: inherit;
    text-wrap: wrap;
  }


 .order-list-box table td img {
    max-width:90% ;
    object-fit: contain;
    object-position: top left;
    max-height:80px ;
  }


 .order-list-box table tr:nth-child(1){
    background: var(--main-cl);
  }


 .order-list-box table tr{
    background-color: #ffffff;
  }

 .order-list-box table button{
    background: inherit;
    border: none;
    font-size: 14px;
    color: white;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 8px 14px;
}

