/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/
.product-list-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    row-gap: 23px;
}
.product-list-box b {
    font-weight: 500px;
    font-size: 16px;
    text-transform: uppercase;
}
.product-list-box > .products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: fit-content;
    box-shadow: var(--fev-box-shadow);
}
.product-list-box> .products >.product{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    padding: 12px 19px 24px ;
    /* bproduct-bottom:2px sol
    
    id rgba(0, 0, 0, 0.096) ; */
}

span{
    display: inline-block;
}
 .product-list-box > .products > .product:first-child{


    background-color: black;
    color: white;
    border: none;
    padding:16px 19px;
    width: 100%;
}
.product-list-box> .products> .product> img {
   width: 60px;
   height: 60px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center center;
}
.product-list-box> .products > .product> .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 5px;
    width: 350px;
    text-wrap: wrap;
    font-size: 17.7px;
    font-weight: 500;
    color: black;

}
.product-list-box> .products > .product>div{
    width: 150px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items:start;
    column-gap: 10px;

}
.productlist-box> .products > .product> span{
    font-size: 14px;
    color: #666;
    font-weight: 500;
    width: 100px;
}
.product-list-box> .products > .product>button{
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #000;
    border: none;
}