/*
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ
Insha Allah,  By your Marcy Ya Allah
*/

#list-of-user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    row-gap: 30px;
    /* overflow: scroll;
    overflow-block: scroll; */
}

#list-of-user table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
    font-size: 13px;
}

#list-of-user table th{
    border: 1px solid #000;
    text-align: left;
    padding: 10px 12px; 
    background-color:black;
    color: white;
  }


  #list-of-user table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px 12px;
    background: inherit;
    text-wrap: wrap;
    background: white;
  }


  #list-of-user table td img {
    max-width:90% ;
    object-fit: contain;
    object-position: top left;
    max-height:80px ;
  }


  #list-of-user table tr:nth-child(1){
    background: var(--main-cl);
  }


  #list-of-user table tr{
    background-color: #ffffff;
  }

  #list-of-user table button{
    background: inherit;
    border: none;
    font-size: 14px;
    color: white;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 8px 14px;
}
